{
  "openapi": "3.1.0",
  "info": {
    "title": "BANK LINKING",
    "termsOfService": "urn:tos",
    "license": {
      "name": "Apache 2.0",
      "url": "https://springdoc.org"
    },
    "version": "unversioned",
    "description": ""
  },
  "servers": [
    {
      "url": "https://api-sb.meld.io",
      "description": "Meld API sandbox"
    },
    {
      "url": "https://api.meld.io",
      "description": "Meld API production"
    }
  ],
  "paths": {
    "/bank-linking/connect/start": {
      "post": {
        "tags": [
          "Connect"
        ],
        "summary": "Create a connection",
        "description": "Use this endpoint to obtain a connect token, which can be used to initialize the Meld widget and start a bank linking connection.",
        "operationId": "bank-linking-connect-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectStartRequest_2022_11_10"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Connect token was created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectStartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/connect/repair": {
      "post": {
        "tags": [
          "Connect"
        ],
        "summary": "Repair a connection",
        "description": "A Service Provider's connection to the institution may sometimes degrade or new financial account(s) may be discovered for the connection. In order to fix the connection or add these newly discovered account(s), the customer must reconnect. This endpoint generates a new connect token for the connection to enable this reconnection process. This connect token can be used to invoke a new bank linking flow where the user can enter the service provider's UI to fix the connection",
        "operationId": "bank-linking-connect-repair",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectRepairRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Generated new connect token for repairing this connection",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectRepairResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/connections/{connectionId}": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "Get an institution connection",
        "description": "Retrieve details of a specific institution connection.",
        "operationId": "bank-linking-connections-get",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "Connection id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection is returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Connection cannot be found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Connections"
        ],
        "summary": "Delete an institution connection",
        "description": "Use this endpoint to delete a connection and all of its financial accounts. This will also delete the connection with the service provider used to make the connection, thus stopping any updates for the connection and its financial accounts. Listen for the associated <a href=https://docs.meld.io/docs/webhook-events-bank-linking#bank_linking_connection_deleted>BANK_LINKING_CONNECTION_DELETED</a></p> webhook for acknowledgement that the connection was deleted. <p><i>Note:</i> Financial accounts may belong to multiple connections. This can occur if a customer connects to their institution multiple times in separate sessions, either through the same or a different service provider. If a connection is deleted but its financial accounts still belong to another active connection, then they won't be deleted yet. Not until all the connections that a financial account is associated with are deleted, will the financial account then be deleted.</p> <p><i>Note:</i> In some cases, connections will be deleted before ever calling this endpoint. The aforementioned webhook will notify when this occurs, and calling this endpoint for the connection will no longer be necessary. This can occur if a customer stops granting access to the service provider directly through their institution.</p><p><i>Note:</i> Duplicate provider connections occur when the same customer connects to the same institution using the same login credentials through the <i>same</i> service provider. In such cases, only the most recently refreshed of these duplicates is actively maintained and the rest are considered inactive. When deleting duplicate connections, all of the inactive duplicates must be deleted prior to deleting the main duplicate. If an attempt is made to delete the active duplicate prior to the inactive duplicates being deleted, then the next most recently aggregated duplicate will become the active one. Only once all duplicates are deleted will this sever the connection with the service provider and cease billing. Duplicate connections made through <i>different</i> service providers do not have this restriction, however.</p>",
        "operationId": "bank-linking-connections-delete",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "Connection id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Connection deleted"
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Connection cannot be found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/connections": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "Search institution connections",
        "description": "Retrieve institution connections filtered by various parameters.",
        "operationId": "bank-linking-connections-search",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Meld generated unique identifier for your customer. This should be used to track customer activity.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalCustomerId",
            "in": "query",
            "description": "Your unique identifier for your customer. If maintaining your own customer management system this can also be used for tracking customer activity.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "institutionId",
            "in": "query",
            "description": "Institution id. If present, only institution connections with this institution will be included.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Comma separated list of institution connection statuses. If present, only institution connections with these statuses will be included. <p>Find out more about connection statuses <a href=https://docs.meld.io/docs/connection-statuses-and-errors>here.</a></p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceProviders",
            "in": "query",
            "description": "Comma separated list of service providers. If present, only institution connections with these service providers will be included. <p><b><i>Note:</i></b> Reference <a href=https://docs.meld.io/docs/creating-connections#supported-service-providers>Supported Service Providers</a> for the list of available bank linking providers.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date to begin search from of format yyyy-mm-dd",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date stop search on of format yyyy-mm-dd",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Unique key corresponding to an institution connection's position in the paginated list of results -- used to indicate that only institution connections residing before this key will be retrieved.<p>Each institution connection carries a unique key. Reference <a href=https://docs.meld.io/docs/pagination>Pagination</a></p><p>The <b><i>before</i></b> and <b><i>after</i></b> fields cannot be used in the same request.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Unique key corresponding to a institution connection's position in the paginated list of results -- used to indicate that only institution connections residing after this key will be retrieved.<p>Each institution connection carries a unique key. Reference <a href=https://docs.meld.io/docs/pagination>Pagination</a></p><p>The <b><i>before</i></b> and <b><i>after</i></b> fields cannot be used in the same request.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of returned institution connections.<p><i>Default value</i>: 10<p><i>Minimum value</i>: 1<p><i>Maximum value</i>: 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "institutionName",
            "in": "query",
            "description": "Institution name. If present, only institution connections with this institution will be included.If institutionId is present then institutionId will take precedence.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connections are returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionPage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/connections/{connectionId}/update": {
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Update a connection",
        "description": "Update a connection and its products. Adds new products retroactively to an existing connection and triggers a refresh with this updated set of products. The products provided must not already be present on the connection and be supported by the underlying service provider and institution in order to be successful.",
        "operationId": "bank-linking-connection-update",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "Connection id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionAddProductsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Request for adding products to connection has been accepted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionAddProductsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Connection could not be found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/connections/{connectionId}/refresh": {
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Refresh accounts belonging to a connection",
        "description": "Trigger a refresh of all financial accounts for a given institution connection with the latest information from the service provider. This is a premium service for most service providers and should be used sparingly for requesting up-to-date data as of the time of the call to this endpoint. Transaction and balance data is updated daily by service providers, and Meld's webhooks will notify of these updates so that product data does not become stale.<p><i>Note:</i> By default, historical transactions are loaded upon initial connection for all providers. This is a premium service for Finicity and MX, so if this is not desired please reach out to Meld support to disable this feature. After doing so, then historical transactions will only be loaded after the first time a refresh is requested for a Finicity/MX connection that has transactions as an available product.</p><p><i>Note:</i> Duplicate provider connections occur when the same customer connects to the same institution using the same login credentials through the <i>same</i> service provider. In such cases, only the most recently refreshed of these duplicates is actively maintained and the rest are considered inactive. Choosing to refresh an inactive duplicate will cause it to become the new active duplicate and it will assume the same connection status as the previous active duplicate. The previous active duplicate will now be considered inactive.</p>",
        "operationId": "bank-linking-connections-refresh",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "description": "Connection id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionRefreshRequest_2022_11_10"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Request for refresh has been accepted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionRefreshResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Connection could not be found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/connections/import": {
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Import existing connections with a service provider",
        "description": "Importing is done asynchronously. Webhooks will be sent for each connection as they are imported, the same as if the connection was added via the connect widget.",
        "operationId": "bank-linking-connections-import",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Request for import has been accepted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ImportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/accounts/{financialAccountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a financial account",
        "description": "Use this endpoint to retrieve account information of a specific financial account.",
        "operationId": "bank-linking-accounts-get",
        "parameters": [
          {
            "name": "financialAccountId",
            "in": "path",
            "description": "Financial account id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial account is returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialAccount_2022_09_21"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Financial account cannot be found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Search financial accounts",
        "description": "Use this endpoint to filter financial accounts by various parameters.",
        "operationId": "bank-linking-accounts-search",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Meld generated unique identifier for your customer. This should be used to track customer activity. Should not be provided in conjunction with `externalCustomerId`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalCustomerId",
            "in": "query",
            "description": "Your unique identifier for your customer. If maintaining your own customer management system this can also be used for tracking customer activity. Should not be provided in conjunction with `customerId`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "institutionId",
            "in": "query",
            "description": "Institution id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "in": "query",
            "description": "Connection id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Unique key corresponding to a financial account's position in the paginated list of results -- used to indicate that only financial accounts residing before this key will be retrieved.<p>Each financial account carries a unique key. Reference <a href=https://docs.meld.io/docs/pagination>Pagination</a></p><p>The <b><i>before</i></b> and <b><i>after</i></b> fields cannot be used in the same request.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Unique key corresponding to a financial account's position in the paginated list of results -- used to indicate that only financial accounts residing after this key will be retrieved.<p>Each financial account carries a unique key. Reference <a href=https://docs.meld.io/docs/pagination>Pagination</a></p><p>The <b><i>before</i></b> and <b><i>after</i></b> fields cannot be used in the same request.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of returned financial accounts.<p><i>Default value</i>: 10<p><i>Minimum value</i>: 1<p><i>Maximum value</i>: 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial accounts are returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialAccountPage_2022_09_21"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/accounts/{financialAccountId}/processors/create-token": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create processor token",
        "description": "The token is used by the processor to access the information on this account via a service provider. Depending on the service provider and/or processor, this token represents whatever token/code/key is needed to provide access.",
        "operationId": "bank-linking-accounts-create-processor-token",
        "parameters": [
          {
            "name": "financialAccountId",
            "in": "path",
            "description": "Financial account id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinancialAccountProcessorCreateTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Processor token is returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialAccountProcessorCreateTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Financial account cannot be found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/transactions/{transactionId}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get a financial account transaction",
        "description": "Use this endpoint to retrieve transaction information of a specific financial account transaction.",
        "operationId": "bank-linking-transactions-get",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial account transaction is returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialAccountTransaction"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Financial account transaction cannot be found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Search financial account transactions",
        "description": "Use this endpoint to filter financial account transactions by various parameters.",
        "operationId": "bank-linking-transactions-search",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Meld generated unique identifier for your customer. This should be used to track customer activity. If provided, `externalCustomerId` should not be provided. However, if both are present then `customerId` takes precedence.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalCustomerId",
            "in": "query",
            "description": "Your unique identifier for your customer. If maintaining your own customer management system this can also be used for tracking customer activity. If provided, `customerId` should not be provided. However, if both are present then `customerId` takes precedence.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "financialAccountId",
            "in": "query",
            "description": "Financial account id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Financial account transaction status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "POSTED"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date to begin search from of format yyyy-mm-dd",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date stop search on of format yyyy-mm-dd",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Unique key corresponding to a transaction's position in the paginated list of results -- used to indicate that only transactions residing before this key will be retrieved.<p>Each transaction carries a unique key. Reference <a href=https://docs.meld.io/docs/pagination>Pagination</a></p><p>The <b><i>before</i></b> and <b><i>after</i></b> fields cannot be used in the same request.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Unique key corresponding to a transaction's position in the paginated list of results -- used to indicate that only transactions residing after this key will be retrieved.<p>Each transaction carries a unique key. Reference <a href=https://docs.meld.io/docs/pagination>Pagination</a></p><p>The <b><i>before</i></b> and <b><i>after</i></b> fields cannot be used in the same request.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Transaction category",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "in": "query",
            "description": "Connection Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of returned financial account transactions.<p><i>Default value</i>: 100<p><i>Minimum value</i>: 1<p><i>Maximum value</i>: 1000",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial account transactions are returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialAccountTransactionPage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/investments/holdings/{investmentHoldingId}": {
      "get": {
        "tags": [
          "Investments"
        ],
        "summary": "Get a financial account investment holding",
        "description": "Use this endpoint to retrieve investment holding information of a specific financial account investment holding.",
        "operationId": "bank-linking-investment-holdings-get",
        "parameters": [
          {
            "name": "investmentHoldingId",
            "in": "path",
            "description": "Investment Holding id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial account investment holding is returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialAccountInvestmentHolding"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Financial account investment holding cannot be found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/investments/holdings": {
      "get": {
        "tags": [
          "Investments"
        ],
        "summary": "Search financial account investment holdings",
        "description": "Use this endpoint to filter financial account investment holdings by various parameters.",
        "operationId": "bank-linking-investment-holdings-search",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Meld generated unique identifier for your customer. This should be used to track customer activity. Should not be provided in conjunction with `externalCustomerId`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalCustomerId",
            "in": "query",
            "description": "Your unique identifier for your customer. If maintaining your own customer management system this can also be used for tracking customer activity. Should not be provided in conjunction with`customerId`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "financialAccountId",
            "in": "query",
            "description": "Financial account id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectionId",
            "in": "query",
            "description": "Connection Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Unique key corresponding to a investment holding's position in the paginated list of results -- used to indicate that only investment holdings residing before this key will be retrieved.<p>Each investment holding carries a unique key. Reference <a href=https://docs.meld.io/docs/pagination>Pagination</a></p><p>The <b><i>before</i></b> and <b><i>after</i></b> fields cannot be used in the same request.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Unique key corresponding to a investment holding's position in the paginated list of results -- used to indicate that only investment holdings residing after this key will be retrieved.<p>Each investment holding carries a unique key. Reference <a href=https://docs.meld.io/docs/pagination>Pagination</a></p><p>The <b><i>before</i></b> and <b><i>after</i></b> fields cannot be used in the same request.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of returned financial account investment holdings.<p><i>Default value</i>: 100<p><i>Minimum value</i>: 1<p><i>Maximum value</i>: 1000",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial account investment holdings are returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialAccountInvestmentHoldingPage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/investments/transactions/{investmentTransactionId}": {
      "get": {
        "tags": [
          "Investments"
        ],
        "summary": "Get a financial account investment transaction",
        "description": "Use this endpoint to retrieve investment transaction information of a specific financial account investment transaction.",
        "operationId": "bank-linking-investment-transactions-get",
        "parameters": [
          {
            "name": "investmentTransactionId",
            "in": "path",
            "description": "Investment Transaction id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial account investment transaction is returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialAccountInvestmentTransaction"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Financial account investment transaction cannot be found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/bank-linking/investments/transactions": {
      "get": {
        "tags": [
          "Investments"
        ],
        "summary": "Search financial account investment transactions",
        "description": "Use this endpoint to filter financial account investment transactions by various parameters.",
        "operationId": "bank-linking-investment-transactions-search",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "Meld generated unique identifier for your customer. This should be used to track customer activity. Should not be provided in conjunction with `externalCustomerId`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalCustomerId",
            "in": "query",
            "description": "Your unique identifier for your customer. If maintaining your own customer management system this can also be used for tracking customer activity. Should not be provided in conjunction with `customerId`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "financialAccountId",
            "in": "query",
            "description": "Financial account id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Comma separated list of financial account investment transaction statuses",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "POSTED"
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date to begin search from of format yyyy-mm-dd",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date stop search on of format yyyy-mm-dd",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "connectionId",
            "in": "query",
            "description": "Connection Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Unique key corresponding to a investment transaction's position in the paginated list of results -- used to indicate that only investment transactions residing before this key will be retrieved.<p>Each investment transaction carries a unique key. Reference <a href=https://docs.meld.io/docs/pagination>Pagination</a></p><p>The <b><i>before</i></b> and <b><i>after</i></b> fields cannot be used in the same request.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Unique key corresponding to a investment transaction's position in the paginated list of results -- used to indicate that only investment transactions residing after this key will be retrieved.<p>Each investment transaction carries a unique key. Reference <a href=https://docs.meld.io/docs/pagination>Pagination</a></p><p>The <b><i>before</i></b> and <b><i>after</i></b> fields cannot be used in the same request.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of returned financial account investment transactions.<p><i>Default value</i>: 100<p><i>Minimum value</i>: 1<p><i>Maximum value</i>: 1000",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Financial account investment transactions are returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialAccountInvestmentTransactionPage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/institutions/{institutionId}": {
      "get": {
        "tags": [
          "Institutions"
        ],
        "summary": "Get institution",
        "description": "This endpoint allows you to get an institution by id, as well as the service provider metadata such as name, URL, and logos for each service provider configured to your account that support this institution",
        "operationId": "bank-linking-institutions-get",
        "parameters": [
          {
            "name": "institutionId",
            "in": "path",
            "description": "Institution id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Institution is returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Institution"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Institution cannot be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/institutions": {
      "get": {
        "tags": [
          "Institutions"
        ],
        "summary": "Search institutions",
        "description": "Allows you to search across the list of Institutions supported by your service providers. This endpoint is only available in production.",
        "operationId": "bank-linking-institutions-search",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "description": "Unique key corresponding to a institution's position in the paginated list of results -- used to indicate that only institutions residing before this key will be retrieved.<p>Each institution carries a unique key. Reference <a href=https://docs.meld.io/docs/pagination>Pagination</a></p><p>The <b><i>before</i></b> and <b><i>after</i></b> fields cannot be used in the same request.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Unique key corresponding to a institution's position in the paginated list of results -- used to indicate that only institutions residing after this key will be retrieved.<p>Each institution carries a unique key. Reference <a href=https://docs.meld.io/docs/pagination>Pagination</a></p><p>The <b><i>before</i></b> and <b><i>after</i></b> fields cannot be used in the same request.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceProviders",
            "in": "query",
            "description": "Comma separated list of service providers. If present, only institutions supported by at least one of the service providers will be included. <p><b><i>Note:</i></b> Reference <a href=https://docs.meld.io/docs/creating-connections#supported-service-providers>Supported Service Providers</a> for the list of available bank linking providers.</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of returned institutions.<p><i>Default value</i>: 10<p><i>Minimum value</i>: 1<p><i>Maximum value</i>: 1000",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "If present, only institutions will be included whose name matches partially or fully.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "If present, only institutions will be included whose type matches.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regions",
            "in": "query",
            "description": "Comma separated list of regions. If present, only institutions supported by at least one of the regions will be included.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Institution snapshot is returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionPage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "SearchServiceProviderInstitutionRequest": {
        "type": "object",
        "properties": {
          "serviceProvider": {
            "type": "string",
            "description": "Service provider to search by",
            "enum": [
              "AEROPAY",
              "AKOYA",
              "ALCHEMYPAY",
              "APPLEPAY",
              "AUTHORIZENET",
              "BANXA",
              "BILIRA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BOOMFI",
              "BRAINTREE",
              "BRALE",
              "BTCDIRECT",
              "CASHAPP",
              "CHECKOUT",
              "CIRCLE",
              "COINBASEPAY",
              "COINFLOW",
              "DUENETWORK",
              "ELDORADO",
              "FINICITY",
              "FONBNK",
              "GUARDARIAN",
              "HARBOUR",
              "KOYWE",
              "KRYPTONIM",
              "MERCURYO",
              "MESH",
              "MESO",
              "MOONPAY",
              "MOOV",
              "MX",
              "NMI",
              "NOAH",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "PLAID",
              "RAMP",
              "REVOLUT",
              "ROBINHOOD",
              "ROUTERPROTOCOL",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "SARDINE",
              "SHIFT4",
              "SHOPIFY",
              "SIMPLEX",
              "SKRILLCRYPTO",
              "SQUARE",
              "STRIPE",
              "SUMSUB",
              "SWAPPED",
              "TANGOCARD",
              "TELLER",
              "TOPPER",
              "TRANSAK",
              "TREMENDOUS",
              "TRANSFI",
              "UNLIMIT",
              "WYRE",
              "XANPOOL",
              "YELLOWCARD",
              "YODLEE"
            ]
          },
          "serviceProviderInstitutionId": {
            "type": "string",
            "description": "Service provider institution id to search by",
            "minLength": 1
          }
        },
        "required": [
          "serviceProvider",
          "serviceProviderInstitutionId"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "displayMessage": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {}
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Images": {
        "type": "object",
        "properties": {
          "icon": {
            "type": "string",
            "description": "Url of the icon image for the institution"
          },
          "tile": {
            "type": "string",
            "description": "Url of the tile image for the institution"
          },
          "wide": {
            "type": "string",
            "description": "Url of the wide image for the institution"
          }
        }
      },
      "Institution": {
        "type": "object",
        "properties": {
          "aliases": {
            "type": "array",
            "description": "List of aliases for the institution",
            "items": {
              "type": "string"
            }
          },
          "domain": {
            "type": "string",
            "description": "Base url for the institution"
          },
          "id": {
            "type": "string",
            "description": "Institution's Meld Id"
          },
          "images": {
            "$ref": "#/components/schemas/Images",
            "description": "Images"
          },
          "isTest": {
            "type": "boolean",
            "description": "If the institution is a test institution"
          },
          "key": {
            "type": "string",
            "description": "The key of the institution in the paginated list of results"
          },
          "name": {
            "type": "string",
            "description": "Name"
          },
          "providers": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Provider"
            },
            "description": "Mapped service provider institutions"
          },
          "rank": {
            "type": "integer",
            "format": "int32",
            "description": "Institution's popularity score, which is used to rank institutions in the bank linking connect widget"
          },
          "subName": {
            "type": "string",
            "description": "Alternate name that may be provided by the service provider"
          },
          "type": {
            "type": "string",
            "description": "Type of the institution"
          }
        }
      },
      "Provider": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "description": "Supported categories",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string",
            "description": "Service provider's id for the institution"
          },
          "oauth": {
            "type": "boolean",
            "description": "Supports OAuth"
          },
          "products": {
            "type": "array",
            "description": "Supported products",
            "items": {
              "type": "string"
            }
          },
          "regions": {
            "type": "array",
            "description": "Supported regions",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PublishResponse": {
        "type": "object",
        "properties": {
          "numDeleted": {
            "type": "integer",
            "format": "int32",
            "description": "Number of institutions deleted. Includes institutions that were previously deleted (because they should still not be included in the published set of institutions)."
          },
          "numPublished": {
            "type": "integer",
            "format": "int32",
            "description": "Number of institutions updated. Includes new institutions as well as updates to existing institutions."
          }
        }
      },
      "Birthday": {
        "type": "object",
        "properties": {
          "dayOfMonth": {
            "type": "integer",
            "format": "int64",
            "description": "The day of the customer's birthday"
          },
          "month": {
            "type": "integer",
            "format": "int64",
            "description": "The month of the customer's birthday"
          },
          "year": {
            "type": "integer",
            "format": "int64",
            "description": "The year of the customer's birthday"
          }
        },
        "required": [
          "dayOfMonth",
          "month",
          "year"
        ]
      },
      "CreatePremiumTransactionsReportRequest": {
        "type": "object",
        "properties": {
          "customerDetails": {
            "$ref": "#/components/schemas/CustomerDetails",
            "description": "Details about the customer; required for report generation. If a report already exists for the customer, then it is optional to provide for future report generations."
          },
          "customerId": {
            "type": "string",
            "description": "Meld generated unique identifier for your customer. This should be used to track customer activity.",
            "minLength": 1
          },
          "includePending": {
            "type": "boolean",
            "description": "Whether to include pending transactions in the report. Defaults to true"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "The start date of the report (up to 2 years ago). Defaults to 30 days ago"
          }
        },
        "required": [
          "customerId"
        ]
      },
      "CustomerDetails": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The customer's address",
            "minLength": 1
          },
          "birthday": {
            "$ref": "#/components/schemas/Birthday",
            "description": "The customer's birthday"
          },
          "city": {
            "type": "string",
            "description": "The customer's city",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "description": "The customer's email address",
            "minLength": 1
          },
          "firstName": {
            "type": "string",
            "description": "The customer's first name",
            "minLength": 1
          },
          "lastName": {
            "type": "string",
            "description": "The customer's last name",
            "minLength": 1
          },
          "phone": {
            "type": "string",
            "description": "The customer's phone number",
            "minLength": 1
          },
          "ssn": {
            "type": "string",
            "description": "The customer's social security number",
            "minLength": 1
          },
          "state": {
            "type": "string",
            "description": "The customer's state",
            "minLength": 1
          },
          "zip": {
            "type": "string",
            "description": "The customer's zip code",
            "minLength": 1
          }
        },
        "required": [
          "address",
          "birthday",
          "city",
          "email",
          "firstName",
          "lastName",
          "phone",
          "ssn",
          "state",
          "zip"
        ]
      },
      "CreatePremiumTransactionsReportResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The id of the report used for fetching"
          }
        }
      },
      "ConnectionAddProductsRequest": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "description": "List of products to add retroactively to the connection.",
            "items": {
              "type": "string",
              "enum": [
                "BALANCES",
                "IDENTIFIERS",
                "INVESTMENT_HOLDINGS",
                "INVESTMENT_TRANSACTIONS",
                "OWNERS",
                "TRANSACTIONS"
              ]
            },
            "minItems": 1
          }
        },
        "required": [
          "products"
        ]
      },
      "ConnectionAddProductsResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The id of this request"
          }
        }
      },
      "ConnectionRefreshRequest": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "description": "List of products to refresh for the connection. Can only select products which were included when the connection was made. Another way to say this is you cannot request a refresh of products the customer has not granted access to. If no products are specified, all products from the connection are refreshed.",
            "items": {
              "type": "string",
              "enum": [
                "ACCOUNT_DETAILS",
                "BALANCES",
                "IDENTITIES",
                "INVESTMENT_HOLDINGS",
                "INVESTMENT_TRANSACTIONS",
                "TRANSACTIONS"
              ]
            }
          }
        }
      },
      "ConnectionRefreshResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The id of this request"
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {},
            "description": "Additional Service Provider details, may be null"
          }
        }
      },
      "AuthenticationBypassDetails": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "The widget type associated with the previously authenticated crypto session",
            "enum": [
              "CRYPTO_ONRAMP",
              "CRYPTO_OFFRAMP",
              "CRYPTO_TRANSFER"
            ]
          },
          "previouslyAuthenticatedId": {
            "type": "string",
            "description": "The Meld id of the crypto session in which the customer has already authenticated with their institution. The auth tied to this session will be used to import the connection if it is still valid. This id may pertain to the initial session in which the customer authenticated, or any subsequent session that used this prior authentication successfully. </p>For more details, reference <a href=https://docs.meld.io/docs/using-multiple-products-without-reauthenticating>Using Multiple Products without Re-authenticating</a></p>",
            "minLength": 1
          }
        },
        "required": [
          "category",
          "previouslyAuthenticatedId"
        ]
      },
      "ImportAkoyaDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ImportDetails"
          },
          {
            "type": "object",
            "properties": {
              "providerId": {
                "type": "string",
                "description": "Akoya provider id (aka institution id)",
                "minLength": 1
              },
              "refreshToken": {
                "type": "string",
                "description": "Akoya refresh token",
                "minLength": 1
              },
              "products": {
                "type": "array",
                "description": "Meld products to import from the connection. Optional. If not present, then all products supported by the institution will be used",
                "items": {
                  "type": "string",
                  "enum": [
                    "BALANCES",
                    "IDENTIFIERS",
                    "INVESTMENT_HOLDINGS",
                    "INVESTMENT_TRANSACTIONS",
                    "OWNERS",
                    "TRANSACTIONS"
                  ]
                }
              }
            }
          }
        ],
        "required": [
          "providerId",
          "refreshToken"
        ]
      },
      "ImportDetails": {
        "type": "object",
        "description": "A provider's connection info",
        "discriminator": {
          "propertyName": "serviceProvider"
        },
        "properties": {
          "externalCustomerId": {
            "type": "string",
            "description": "Externally assigned id for the customer"
          },
          "serviceProvider": {
            "type": "string",
            "description": "Service provider",
            "enum": [
              "AKOYA",
              "FINICITY",
              "MX",
              "PLAID",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "YODLEE"
            ]
          }
        }
      },
      "ImportFinicityDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ImportDetails"
          },
          {
            "type": "object",
            "properties": {
              "customerId": {
                "type": "integer",
                "format": "int64",
                "description": "Finicity customer id"
              },
              "institutionLoginId": {
                "type": "integer",
                "format": "int64",
                "description": "Finicity institution login id"
              },
              "products": {
                "type": "array",
                "description": "Meld products to import from the connection. Optional. If not present, then all products supported by the institution will be used",
                "items": {
                  "type": "string",
                  "enum": [
                    "BALANCES",
                    "IDENTIFIERS",
                    "INVESTMENT_HOLDINGS",
                    "INVESTMENT_TRANSACTIONS",
                    "OWNERS",
                    "TRANSACTIONS"
                  ]
                }
              }
            }
          }
        ],
        "required": [
          "customerId",
          "institutionLoginId"
        ]
      },
      "ImportMeshDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ImportDetails"
          },
          {
            "type": "object",
            "properties": {
              "importType": {
                "type": "string",
                "description": "The type of import being performed.",
                "enum": [
                  "MELD_AUTHENTICATED"
                ]
              },
              "products": {
                "type": "array",
                "description": "Meld products to import from the connection. Optional. If not present, then all products supported by the institution will be used",
                "items": {
                  "type": "string",
                  "enum": [
                    "BALANCES",
                    "IDENTIFIERS",
                    "INVESTMENT_HOLDINGS",
                    "INVESTMENT_TRANSACTIONS",
                    "OWNERS",
                    "TRANSACTIONS"
                  ]
                },
                "uniqueItems": true
              },
              "authenticationBypassDetails": {
                "$ref": "#/components/schemas/AuthenticationBypassDetails",
                "description": "Details of the previously authenticated crypto session that will be used to import the connection. Only required if importType is MELD_AUTHENTICATED."
              }
            }
          }
        ],
        "required": [
          "importType"
        ]
      },
      "ImportPlaidDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ImportDetails"
          },
          {
            "type": "object",
            "properties": {
              "accessToken": {
                "type": "string",
                "description": "Plaid access token",
                "minLength": 1
              }
            }
          }
        ],
        "required": [
          "accessToken"
        ]
      },
      "ImportRequest": {
        "type": "object",
        "properties": {
          "connections": {
            "type": "array",
            "description": "Import details for the connections specific to the service provider",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ImportAkoyaDetails"
                },
                {
                  "$ref": "#/components/schemas/ImportFinicityDetails"
                },
                {
                  "$ref": "#/components/schemas/ImportMeshDetails"
                },
                {
                  "$ref": "#/components/schemas/ImportPlaidDetails"
                }
              ]
            },
            "minItems": 1
          }
        },
        "required": [
          "connections"
        ]
      },
      "ImportResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The id of this request"
          }
        }
      },
      "ConnectStepRequest": {
        "type": "object",
        "properties": {
          "charsInInstitutionSearch": {
            "type": "string"
          },
          "connectToken": {
            "type": "string",
            "minLength": 1
          },
          "selectedInstitutionId": {
            "type": "string"
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {},
            "description": "Service provider specific details relating to the step. This can include identifying info for the connection so that it can be associated with the Meld connection"
          },
          "step": {
            "type": "string",
            "minLength": 1
          },
          "timeTaken": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "connectToken",
          "step"
        ]
      },
      "BankLinkingPreference": {
        "type": "object",
        "properties": {
          "accountLogoUrl": {
            "type": "string",
            "description": "The path to the account's logo for displaying in the bank picker"
          },
          "borderColor": {
            "type": "string",
            "description": "The color of the border for the bank picker"
          },
          "borderTextColor": {
            "type": "string",
            "description": "The color of the text on the bank picker border (i.e. 'Integrations powered by Meld.io')"
          },
          "font": {
            "type": "string",
            "description": "The desired font to use for the Meld picker"
          },
          "institutionSelectionText": {
            "type": "string",
            "description": "The text to display at the top of bank picker",
            "example": "Select your institution"
          },
          "routingRetry": {
            "type": "boolean",
            "description": "Whether to present the option to try to connect to the institution again with a different service provider if the last attempt failed. If a value is not set, it is assumed to be false."
          },
          "routingRetryBankButtonColor": {
            "type": "string",
            "description": "The color of the routing retry button to select a different institution"
          },
          "routingRetryProviderButtonColor": {
            "type": "string",
            "description": "The color of the routing retry button to select a different provider"
          },
          "selectionStyle": {
            "type": "string",
            "description": "The style in which the bank picker displays the institutions",
            "enum": [
              "LIST",
              "TILE"
            ]
          },
          "showBorder": {
            "type": "boolean",
            "description": "Whether to show the border for the bank picker widget. If a value is not set, it is assumed to be false."
          }
        }
      },
      "ConnectStartRequest_2022_11_10": {
        "type": "object",
        "properties": {
          "accountPreferenceOverride": {
            "$ref": "#/components/schemas/BankLinkingPreference",
            "description": "The account preference overrides for this connection"
          },
          "allowRedirect": {
            "type": "boolean",
            "description": "When searching financial institutions via the Meld bank picker, filters the results based on whether or not the service provider will cause a redirect as part of account linking.<p>When false, will only include financial institutions which will not cause a redirect. When true, all financial institutions are included regardless of whether or not they may require a redirect. Default is true.</p>"
          },
          "externalCustomerId": {
            "type": "string",
            "description": "Your unique identifier for your customer. If maintaining your own customer management system this can also be used for tracking customer activity.",
            "minLength": 1,
            "default": "testUser"
          },
          "institutionId": {
            "type": "string",
            "description": "Institution id to bypass the institution selection pane."
          },
          "institutionSearchString": {
            "type": "string",
            "description": "When searching financial institutions via the Meld bank picker, pre-populate the search string with this value",
            "example": "Chase"
          },
          "optionalProducts": {
            "type": "array",
            "description": "Set of products to load from the financial institution via the service provider if supported.<p>Can be empty as long as there is at least one required product specified. There must be at least one product specified somewhere for the connection to load some data.</p><p>Financial institutions do not need to support any of these products in order to be included in the Meld bank picker search results.</p>",
            "items": {
              "type": "string",
              "enum": [
                "BALANCES",
                "IDENTIFIERS",
                "INVESTMENT_HOLDINGS",
                "INVESTMENT_TRANSACTIONS",
                "OWNERS",
                "TRANSACTIONS"
              ]
            }
          },
          "products": {
            "type": "array",
            "description": "Set of products to load from the financial institution via the service provider after the connection is completed.<p>Can be empty as long as there is at least one optional product specified. There must be at least one product specified somewhere for the connection to load some data.</p><p>When searching financial institutions via the Meld bank picker, only those which support all of the selected products will be included. When empty, financial institutions will not be filtered by supported products.</p><p><b><i>Note:</i></b> Each service provider handles products differently, and vary in which accounts they expose based on the inputted products.</p>For more details, reference <a href=https://docs.meld.io/docs/creating-connections#supported-products>Supported Products</a> and the relevant Provider Details pages, e.g. <a href=https://docs.meld.io/docs/plaid>Plaid</a></p>",
            "items": {
              "type": "string",
              "enum": [
                "BALANCES",
                "IDENTIFIERS",
                "INVESTMENT_HOLDINGS",
                "INVESTMENT_TRANSACTIONS",
                "OWNERS",
                "TRANSACTIONS"
              ]
            },
            "default": [
              "TRANSACTIONS",
              "IDENTIFIERS",
              "BALANCES",
              "OWNERS"
            ]
          },
          "redirectUrl": {
            "type": "string",
            "description": "If provided, the url to redirect to after completing the service provider's widget flow"
          },
          "regions": {
            "type": "array",
            "description": "When searching financial institutions via the Meld bank picker, onlythose which service any of the regions provided will be included. A service region can be either an ISO 3166-1 alpha-2 country code or an ISO 3166-2 subdivision code. National financial institutions which service an entire country are included for the corresponding country when only subdivision regions are provided.",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          },
          "example": [
            "TRANSACTIONS",
            "IDENTIFIERS",
            "BALANCES",
            "OWNERS"
          ]
        },
        "required": [
          "externalCustomerId"
        ]
      },
      "ConnectStartResponse": {
        "type": "object",
        "properties": {
          "connectToken": {
            "type": "string",
            "description": "Connect token needed to go through the connect flow"
          },
          "customerId": {
            "type": "string",
            "description": "Meld will create a new customer or use the existing customer based on the external customer id provided in the request. Keep track of this customer id for use in other endpoints and webhook tracking."
          },
          "externalCustomerId": {
            "type": "string",
            "description": "External id for the customer as provided in the request"
          },
          "id": {
            "type": "string",
            "description": "Connection id"
          },
          "widgetUrl": {
            "type": "string",
            "description": "Widget url to go through the connect flow"
          }
        }
      },
      "ConnectStartRequest": {
        "type": "object",
        "properties": {
          "accountPreferenceOverride": {
            "$ref": "#/components/schemas/BankLinkingPreference",
            "description": "The account preference overrides for this connection"
          },
          "allowRedirect": {
            "type": "boolean",
            "description": "When searching financial institutions via the Meld bank picker, filters the results based on whether or not the service provider will cause a redirect as part of account linking.<p>When false, will only include financial institutions which will not cause a redirect. When true, all financial institutions are included regardless of whether or not they may require a redirect. Default is true.</p>"
          },
          "externalCustomerId": {
            "type": "string",
            "description": "Your unique identifier for your customer. If maintaining your own customer management system this can also be used for tracking customer activity.",
            "minLength": 1,
            "default": "testUser"
          },
          "institutionId": {
            "type": "string",
            "description": "Institution id"
          },
          "institutionSearchString": {
            "type": "string",
            "description": "When searching financial institutions via the Meld bank picker, pre-populate the search string with this value",
            "example": "Chase"
          },
          "optionalProducts": {
            "type": "array",
            "description": "Set of products to load from the financial institution via the service provider if supported.<p>Can be empty as long as there is at least one required product specified. There must be at least one product specified somewhere for the connection to load some data.</p><p>Financial institutions do not need to support any of these products in order to be included in the Meld bank picker search results.</p>",
            "items": {
              "type": "string",
              "enum": [
                "ACCOUNT_DETAILS",
                "BALANCES",
                "IDENTITIES",
                "INVESTMENT_HOLDINGS",
                "INVESTMENT_TRANSACTIONS",
                "TRANSACTIONS"
              ]
            }
          },
          "previousConnectionId": {
            "type": "string",
            "description": "Repairs the connection with this id, prompting the user to enter the associated service provider's UI to fix the connection. Must be used in conjunction with the same externalCustomerId, regions, and products that were used in the initial connection."
          },
          "products": {
            "type": "array",
            "description": "Set of products to load from the financial institution via the service provider after the connection is completed.<p>Can be empty as long as there is at least one optional product specified. There must be at least one product specified somewhere for the connection to load some data.</p><p>When searching financial institutions via the Meld bank picker, only those which support all of the selected products will be included. When empty, financial institutions will not be filtered by supported products.</p><p><b><i>Note:</i></b> Each service provider handles products differently, and vary in which accounts they expose based on the inputted products.</p>For more details, reference <a href=https://docs.meld.io/docs/creating-connections#supported-products>Supported Products</a> and the relevant Provider Details pages, e.g. <a href=https://docs.meld.io/docs/plaid>Plaid</a></p>",
            "items": {
              "type": "string",
              "enum": [
                "ACCOUNT_DETAILS",
                "BALANCES",
                "IDENTITIES",
                "INVESTMENT_HOLDINGS",
                "INVESTMENT_TRANSACTIONS",
                "TRANSACTIONS"
              ]
            },
            "default": [
              "TRANSACTIONS",
              "IDENTIFIERS",
              "BALANCES",
              "OWNERS"
            ]
          },
          "redirectUrl": {
            "type": "string",
            "description": "If provided, the url to redirect to after completing the service provider's widget flow"
          },
          "regions": {
            "type": "array",
            "description": "When searching financial institutions via the Meld bank picker, onlythose which service any of the regions provided will be included. A service region can be either an ISO 3166-1 alpha-2 country code or an ISO 3166-2 subdivision code. National financial institutions which service an entire country are included for the corresponding country when only subdivision regions are provided.",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          },
          "example": [
            "TRANSACTIONS",
            "IDENTIFIERS",
            "BALANCES",
            "OWNERS"
          ]
        },
        "required": [
          "externalCustomerId"
        ]
      },
      "ConnectRepairRequest": {
        "type": "object",
        "properties": {
          "connectionId": {
            "type": "string",
            "description": "The id of the connection in need of repair"
          }
        }
      },
      "ConnectRepairResponse": {
        "type": "object",
        "properties": {
          "connectToken": {
            "type": "string",
            "description": "Connect token needed to invoke the repair widget. This will prompt the user to enter the associated service provider's UI to fix the connection."
          },
          "id": {
            "type": "string",
            "description": "Id of the broken connection in need of repair."
          },
          "institutionId": {
            "type": "string",
            "description": "The institution id of the connection to repair. The customer will not need to select an institution again in the picker, but will instead be directed immediately to repair the connection with this institution."
          },
          "widgetUrl": {
            "type": "string",
            "description": "Widget url to go through the repair flow"
          }
        }
      },
      "ConnectProviderRequest": {
        "type": "object",
        "properties": {
          "connectToken": {
            "type": "string",
            "description": "Connect token",
            "minLength": 1
          },
          "institutionId": {
            "type": "string",
            "description": "Institution id",
            "minLength": 1
          },
          "serviceProvider": {
            "type": "string",
            "description": "If provided and supported, return details for this service provider instead of for the best service provider available.",
            "enum": [
              "AEROPAY",
              "AKOYA",
              "ALCHEMYPAY",
              "APPLEPAY",
              "AUTHORIZENET",
              "BANXA",
              "BILIRA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BOOMFI",
              "BRAINTREE",
              "BRALE",
              "BTCDIRECT",
              "CASHAPP",
              "CHECKOUT",
              "CIRCLE",
              "COINBASEPAY",
              "COINFLOW",
              "DUENETWORK",
              "ELDORADO",
              "FINICITY",
              "FONBNK",
              "GUARDARIAN",
              "HARBOUR",
              "KOYWE",
              "KRYPTONIM",
              "MERCURYO",
              "MESH",
              "MESO",
              "MOONPAY",
              "MOOV",
              "MX",
              "NMI",
              "NOAH",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "PLAID",
              "RAMP",
              "REVOLUT",
              "ROBINHOOD",
              "ROUTERPROTOCOL",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "SARDINE",
              "SHIFT4",
              "SHOPIFY",
              "SIMPLEX",
              "SKRILLCRYPTO",
              "SQUARE",
              "STRIPE",
              "SUMSUB",
              "SWAPPED",
              "TANGOCARD",
              "TELLER",
              "TOPPER",
              "TRANSAK",
              "TREMENDOUS",
              "TRANSFI",
              "UNLIMIT",
              "WYRE",
              "XANPOOL",
              "YELLOWCARD",
              "YODLEE"
            ]
          }
        },
        "required": [
          "connectToken",
          "institutionId"
        ]
      },
      "ConnectProviderResponse": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Service provider's institution id."
          },
          "isReconnect": {
            "type": "boolean",
            "description": "Whether this connect session is repairing an existing connection. If true, the FE should not allow the user to connect with another institution/service provider if a failure occurs in the service provider's widget."
          },
          "otherAvailableServiceProviders": {
            "type": "array",
            "description": "Ordered ranking of other viable service providers that can be used to connect to the selected institution. One of these can be passed into the /connect/provider request to override the best service provider available. If empty, there are no remaining service providers capable of establishing a connection to the selected institution with the requested products. If null, this indicates that the account does not have the routingRetry preference enabled and a different institution should be selected upon failure.",
            "items": {
              "type": "string",
              "enum": [
                "AEROPAY",
                "AKOYA",
                "ALCHEMYPAY",
                "APPLEPAY",
                "AUTHORIZENET",
                "BANXA",
                "BILIRA",
                "BINANCECONNECT",
                "BINANCEPAY",
                "BLOCKCHAINDOTCOM",
                "BOOMFI",
                "BRAINTREE",
                "BRALE",
                "BTCDIRECT",
                "CASHAPP",
                "CHECKOUT",
                "CIRCLE",
                "COINBASEPAY",
                "COINFLOW",
                "DUENETWORK",
                "ELDORADO",
                "FINICITY",
                "FONBNK",
                "GUARDARIAN",
                "HARBOUR",
                "KOYWE",
                "KRYPTONIM",
                "MERCURYO",
                "MESH",
                "MESO",
                "MOONPAY",
                "MOOV",
                "MX",
                "NMI",
                "NOAH",
                "ONMETA",
                "ONRAMPMONEY",
                "PAYBIS",
                "PAYPAL",
                "PLAID",
                "RAMP",
                "REVOLUT",
                "ROBINHOOD",
                "ROUTERPROTOCOL",
                "SALTEDGE",
                "SALTEDGEPARTNERS",
                "SARDINE",
                "SHIFT4",
                "SHOPIFY",
                "SIMPLEX",
                "SKRILLCRYPTO",
                "SQUARE",
                "STRIPE",
                "SUMSUB",
                "SWAPPED",
                "TANGOCARD",
                "TELLER",
                "TOPPER",
                "TRANSAK",
                "TREMENDOUS",
                "TRANSFI",
                "UNLIMIT",
                "WYRE",
                "XANPOOL",
                "YELLOWCARD",
                "YODLEE"
              ]
            }
          },
          "redirectUrl": {
            "type": "string",
            "description": "If present, the url to redirect to after the connect flow is completed."
          },
          "redirects": {
            "type": "boolean",
            "description": "Whether the service provider UI will redirect for the institution."
          },
          "serviceProvider": {
            "type": "string",
            "description": "The service provider used for the current connect session.",
            "enum": [
              "AKOYA",
              "FINICITY",
              "MX",
              "PLAID",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "YODLEE"
            ]
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {},
[...]
