{
  "openapi": "3.1.0",
  "info": {
    "title": "CRYPTO",
    "termsOfService": "urn:tos",
    "license": {
      "name": "Apache 2.0",
      "url": "https://springdoc.org"
    },
    "version": "unversioned",
    "description": ""
  },
  "servers": [
    {
      "url": "https://api-sb.meld.io",
      "description": "Meld API sandbox"
    },
    {
      "url": "https://api.meld.io",
      "description": "Meld API production"
    }
  ],
  "paths": {
    "/crypto/session/widget": {
      "post": {
        "tags": [
          "Retail Ramp"
        ],
        "summary": "Create a crypto widget",
        "description": "Use this endpoint to create a crypto widget for a session to buy or sell crypto.",
        "operationId": "/crypto-session-widget-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionTokenForWidgetRequestV20231219"
              },
              "example": {
                "sessionType": "BUY",
                "sessionData": {
                  "serviceProvider": "TOPPER",
                  "countryCode": "US",
                  "sourceCurrencyCode": "USD",
                  "sourceAmount": "100",
                  "destinationCurrencyCode": "BTC",
                  "walletAddress": "bc1qr74wmrcwqq9w5yxczxj6udts9mnqsh3xlhk5yp"
                },
                "externalSessionId": "example-session-id",
                "externalCustomerId": "example-customer-id"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Widget created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SessionTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/payments/transactions/{id}": {
      "get": {
        "tags": [
          "Retail Ramp"
        ],
        "summary": "Get transaction by id",
        "description": "Search transaction by its Meld identifier",
        "operationId": "/payments-transactions-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the transaction to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTransactionResponse20250304"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Payment transaction with the id informed was not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTransactionResponse20250304"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/payments/transactions": {
      "get": {
        "tags": [
          "Retail Ramp"
        ],
        "summary": "Search transactions",
        "description": "Search a list of transactions you've previously created. The transactions are ordered by the date of creation.",
        "operationId": "/payments-transactions-search",
        "parameters": [
          {
            "name": "statuses",
            "in": "query",
            "description": "Comma separated list of transaction status. <p>If present, only transactions with the specified status will be included.</p><p><i>Possible values</i>:</p><p><ul><li>PENDING_CREATED</li><li>PENDING</li><li>PROCESSING</li><li>AUTHORIZED</li><li>AUTHORIZATION_EXPIRED</li><li>SETTLING</li><li>ONRAMP_SETTLED</li><li>SETTLED</li><li>REFUNDED</li><li>DECLINED</li><li>CANCELLED</li><li>FAILED</li><li>ERROR</li><li>VOIDED</li><li>TWO_FA_REQUIRED</li><li>TWO_FA_PROVIDED</li></ul></p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceProviders",
            "in": "query",
            "description": "Comma separated list of service providers. <p>Return only transactions with these specific providers. You can specify multiple service providers in the query string and separate them with commas</p><p>Reference <a href=\"https://docs.meld.io/docs/crypto-supported-service-providers-assets\">Crypto supported service providers</a> and <a href=\"https://docs.meld.io/docs/fiat-supported-service-providers\">Fiat supported service providers</a> for a full list of supported service providers</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of returned accounts.<p><i>Default value</i>: 10 or the number of ids provided<p><i>Minimum value</i>: 1<p><i>Maximum value</i>: 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "amountFrom",
            "in": "query",
            "description": "<p>Return only transactions with the amount equal to or greater than this amount</p>",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "amountTo",
            "in": "query",
            "description": "<p>Return only transactions with the amount equal to or less than this amount</p>",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Return only transactions created after this DateTime. The correct string will use the ISO DateTime or ISO Date Format.<p>Ex:2021-08-31T01:30:00 or 2022-02-25 are accepted</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Return only transactions created before this DateTime. The correct string will use the ISO DateTime or ISO Date Format.<p>Ex:2021-08-31T01:30:00 or 2022-02-25 are accepted</p>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "The unique key corresponding to a payment transaction's position in the paginated list of results -- used to indicate that only payment transactions residing before this key will be retrieved.<br><p>Each payment transaction carries a unique key. Reference <a href=\"https://docs.meld.io/docs/pagination\">Pagination</a>The before and after fields cannot be used in the same request.</p><br>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The unique key corresponding to a payment transaction's position in the paginated list of results -- used to indicate that only payment transactions residing after this key will be retrieved.<br><p>Each payment transaction carries a unique key. Reference <a href=\"https://docs.meld.io/docs/pagination\">Pagination</a>The before and after fields cannot be used in the same request.</p><br>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiAccessProfileIds",
            "in": "query",
            "description": "Comma separated list of API access profile ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerIds",
            "in": "query",
            "description": "Meld generated unique identifier for your customer. This should be used to track customer activity. This takes a comma separated list of customer ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalCustomerIds",
            "in": "query",
            "description": "Your unique identifier for your customer. If maintaining your own customer management system this can also be used for tracking customer activity. This takes a comma separated list of external customer ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionIds",
            "in": "query",
            "description": "Comma separated list of session ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalSessionIds",
            "in": "query",
            "description": "Comma separated list of external session ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalReferenceIds",
            "in": "query",
            "description": "Comma separated list of reference ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Comma separated list of transaction types",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderIds",
            "in": "query",
            "description": "Comma separated list of order ids (for virtual account ramp)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceProviderTransactionId",
            "in": "query",
            "description": "service provider transaction id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subaccountCustomerIds",
            "in": "query",
            "description": "Comma-separated list of sub-account customer ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalSubaccountCustomerIds",
            "in": "query",
            "description": "Comma-separated list of external sub-account customer ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment transaction found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTransactionListResponse20250304"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/payments/virtual-account/quote": {
      "post": {
        "tags": [
          "Virtual Account"
        ],
        "summary": "Create a crypto virtual account ramp quote",
        "description": "Use this endpoint to request the current exchange rate of the selected fiat currency-cryptocurrency pair, and the required fees. Enter a fiat currency as the sourceCurrencyCode to buy crypto and enter a crypto currency in that field to sell crypto.",
        "operationId": "/crypto-virtual-account-quote-get",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CryptoVirtualAccountQuoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoVirtualAccountQuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/payments/virtual-account/onramp-order": {
      "post": {
        "tags": [
          "Virtual Account"
        ],
        "summary": "Create a virtual account onramp order",
        "description": "Create a virtual account onramp order to receive bank details for fiat transfer",
        "operationId": "/payments-virtual-account-ramp-onramp-order-create",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualAccountOnrampOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Virtual account onramp order created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualAccountOnrampOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/payments/virtual-account/offramp-order": {
      "post": {
        "tags": [
          "Virtual Account"
        ],
        "summary": "Create a virtual account offramp order",
        "description": "Create a virtual account offramp order to initiate crypto to fiat transfer",
        "operationId": "/payments-virtual-account-ramp-offramp-order-create",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualAccountOfframpOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Business offramp order created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualAccountOfframpOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/payments/transactions/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Retail Ramp"
        ],
        "summary": "Fetch a transaction from the provider (for offramp use)",
        "description": "Fetch a transaction from the service provider using the session ID. This endpoint is primarily used for offramp scenarios where the transaction needs to be retrieved from the provider after the user completes their action in the widget.",
        "operationId": "/payments-transactions-sessions-get",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "Session ID to fetch the transaction for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction found and retrieved from provider",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTransactionResponse20250304"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Session not found or transaction not yet created with provider",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/payments/crypto/quote": {
      "post": {
        "tags": [
          "Retail Ramp"
        ],
        "summary": "Create a crypto quote",
        "description": "Use this endpoint to request the current exchange rate of the selected fiat currency-cryptocurrency pair, and the required fees. Enter a fiat currency as the sourceCurrencyCode to buy crypto and enter a crypto currency in that field to sell crypto.",
        "operationId": "/crypto-quote-get",
        "parameters": [
          {
            "name": "includeSwap",
            "in": "query",
            "description": "If true, include both direct ramp/offramp quotes and stitched ramp+swap/offramp+swap quotes (CRYPTO_PURCHASE_SWAP / CRYPTO_SELL_SWAP) in the response. When false, swap is only used as a fallback when no direct ramp or offramp providers return quotes. Swap quotes are gated by the per-account onrampSwapEnabled / offrampSwapEnabled preferences regardless of this flag.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CryptoQuoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoQuoteResponse20260203"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateWidgetPreferenceRequest": {
        "type": "object",
        "properties": {
          "preferences": {
            "type": "object",
            "additionalProperties": {},
            "description": "preferences",
            "minProperties": 1
          }
        },
        "required": [
          "preferences"
        ]
      },
      "WidgetPreferenceResponse": {
        "type": "object",
        "properties": {
          "preferences": {
            "type": "object",
            "additionalProperties": {},
            "description": "Widget preferences"
          }
        }
      },
      "CryptoCreateCustomerRequest": {
        "type": "object",
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/CustomerInput"
          }
        },
        "required": [
          "customer"
        ]
      },
      "CustomerAddressDetails": {
        "type": "object",
        "properties": {
          "addressDetailsFields": {
            "type": "object",
            "writeOnly": true
          },
          "city": {
            "type": "string",
            "description": "City, district, suburb, town, or village"
          },
          "country": {
            "type": "string",
            "description": "Two-letter country code (ISO 3166-1 alpha-2)"
          },
          "firstName": {
            "type": "string",
            "description": "The first name on the address"
          },
          "lastName": {
            "type": "string",
            "description": "The last name on the address"
          },
          "lineOne": {
            "type": "string",
            "description": "Address line 1 (e.g., street, PO Box, or company name)"
          },
          "lineTwo": {
            "type": "string",
            "description": "Address line 2 (e.g., apartment, suite, unit, or building)"
          },
          "postalCode": {
            "type": "string",
            "description": "ZIP or postal code"
          },
          "region": {
            "type": "string",
            "description": "State, county, province, or region"
          }
        }
      },
      "CustomerAddressInput": {
        "type": "object",
        "properties": {
          "addressDetails": {
            "$ref": "#/components/schemas/CustomerAddressDetails",
            "description": "Address details"
          },
          "type": {
            "type": "string",
            "description": "Address type such as BILLING, SHIPPING, RESIDENCE, etc.",
            "enum": [
              "BILLING",
              "SHIPPING",
              "RESIDENCE"
            ]
          }
        }
      },
      "CustomerInput": {
        "type": "object",
        "properties": {
          "addresses": {
            "type": "array",
            "description": "Your customer's addresses, such as BILLING, SHIPPING, RESIDENCE, etc.",
            "items": {
              "$ref": "#/components/schemas/CustomerAddressInput"
            }
          },
          "billingAddress": {
            "$ref": "#/components/schemas/CustomerAddressInput"
          },
          "billingAddressDetails": {
            "$ref": "#/components/schemas/CustomerAddressDetails"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Your customer's email address."
          },
          "externalId": {
            "type": "string",
            "description": "Your (optional) Id for this customer, for example an id or reference from your database which you may supply during customer creation"
          },
          "id": {
            "type": "string",
            "description": "Meld's internal Id for the Customer"
          },
          "name": {
            "$ref": "#/components/schemas/CustomerName",
            "description": "Your customer's name"
          },
          "nameEmpty": {
            "type": "boolean"
          },
          "nameJSONB": {
            "$ref": "#/components/schemas/JSONB"
          },
          "nameOrEmptyString": {
            "type": "string"
          },
          "nameOrNull": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "description": "Your customer's phone number"
          },
          "residenceAddress": {
            "$ref": "#/components/schemas/CustomerAddressInput"
          },
          "residenceAddressDetails": {
            "$ref": "#/components/schemas/CustomerAddressDetails"
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/CustomerAddressInput"
          },
          "shippingAddressDetails": {
            "$ref": "#/components/schemas/CustomerAddressDetails"
          }
        }
      },
      "CustomerName": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "Your customer's first name"
          },
          "lastName": {
            "type": "string",
            "description": "Your customer's last name"
          }
        }
      },
      "JSONB": {},
      "CryptoCreateCustomerResponse": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string"
          },
          "kycStatus": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/KycStatus"
            }
          }
        }
      },
      "KycStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "INFORMATION_NEEDED",
              "SUBMITTED",
              "APPROVED",
              "DENIED"
            ]
          },
          "verificationUrl": {
            "type": "string"
          }
        }
      },
      "CryptoVirtualAccountQuoteRequest": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Two-letter country code (ISO 3166-1 alpha-2)",
            "example": "US"
          },
          "customerId": {
            "type": "string",
            "description": "Customer id. Required for virtual account ramp quotes.",
            "minLength": 1
          },
          "destinationCurrencyCode": {
            "type": "string",
            "description": "Enter a cryptocurrency symbol here if purchasing crypto or a fiat currency 3 letter code if selling crypto.",
            "example": "USD or BTC",
            "minLength": 1
          },
          "paymentMethodType": {
            "type": "string",
            "description": "Payment Method Type or SubType<br><p>The paymentMethodType and paymentMethodSubType included here are a sample set. Review the [Supported Payment Methods](https://www.meld.io/coverage/payment-methods) section to view the complete list.</p>",
            "minLength": 1
          },
          "serviceProviders": {
            "type": "array",
            "description": "An optional list of Strings representing the Service Providers for this Quote. <p>Reference <a href=\"https://www.meld.io/coverage/service-providers\">Crypto supported service providers</a> for a full list of supported service providers</p>If this field is null or an empty list, Meld will get quotes from all the service providers linked to the API key used on the request.",
            "items": {
              "type": "string",
              "enum": [
                "ACROSS",
                "AEROPAY",
                "AKOYA",
                "ALCHEMYPAY",
                "APPLEPAY",
                "AUTHORIZENET",
                "BANXA",
                "BILIRA",
                "BINANCECONNECT",
                "BINANCEPAY",
                "BLOCKCHAINDOTCOM",
                "BOOMFI",
                "BRAINTREE",
                "BRALE",
                "BTCDIRECT",
                "CASHAPP",
                "CHECKOUT",
                "CIRCLE",
                "COINBASEPAY",
                "COINFLOW",
                "DUENETWORK",
                "ELDORADO",
                "FINICITY",
                "FONBNK",
                "GUARDARIAN",
                "HARBOUR",
                "KOYWE",
                "KRYPTONIM",
                "MERCURYO",
                "MESH",
                "MESO",
                "MOONPAY",
                "MOOV",
                "MX",
                "NMI",
                "NOAH",
                "ONMETA",
                "ONRAMPMONEY",
                "PAYBIS",
                "PAYPAL",
                "PLAID",
                "RAMP",
                "REVOLUT",
                "ROBINHOOD",
                "ROUTERPROTOCOL",
                "SALTEDGE",
                "SALTEDGEPARTNERS",
                "SARDINE",
                "SHIFT4",
                "SHOPIFY",
                "SIMPLEX",
                "SKRILLCRYPTO",
                "SQUARE",
                "STRIPE",
                "SUMSUB",
                "SWAPPED",
                "TANGOCARD",
                "TELLER",
                "TOPPER",
                "TRANSAK",
                "TREMENDOUS",
                "TRANSFI",
                "UNLIMIT",
                "WYRE",
                "XANPOOL",
                "YELLOWCARD",
                "YODLEE"
              ]
            }
          },
          "sourceAmount": {
            "type": "number",
            "description": "The source amount for this transaction.",
            "example": 50,
            "minimum": 0
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Enter a fiat currency 3 letter code here if purchasing crypto or a cryptocurrency symbol if selling crypto.",
            "example": "BTC or USD",
            "minLength": 1
          },
          "subdivision": {
            "type": "string",
            "description": "subdivision is a optional parameter Only applicable if the country code is US or CA.",
            "example": "US-CA"
          }
        },
        "required": [
          "countryCode",
          "customerId",
          "destinationCurrencyCode",
          "paymentMethodType",
          "sourceAmount",
          "sourceCurrencyCode"
        ]
      },
      "CryptoVirtualAccountQuote": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Two-letter country code (ISO 3166-1 alpha-2)"
          },
          "destinationAmount": {
            "type": "number",
            "description": "Destination currency amount to be received for this quote"
          },
          "destinationAmountWithoutFees": {
            "type": "number",
            "description": "The fiat amount exchanged when selling crypto, excluding fees. This will be deprecated in the future."
          },
          "destinationCurrencyCode": {
            "type": "string",
            "description": "Code of currency being quoted: BTC, ETH, ..."
          },
          "exchangeRate": {
            "type": "number",
            "description": "The exchange rate at the time the request is sent"
          },
          "fiatAmountWithoutFees": {
            "type": "number",
            "description": "The fiat amount exchanged when buying or selling crypto, excluding fees."
          },
          "networkFee": {
            "type": "number",
            "description": "The network fee applied to a crypto transaction. To ensure that transactions are processed on cryptocurrency networks, outgoing transactions to external cryptocurrency addresses typically incur a \"mining\" or \"network\" fee. This fee is paid to cryptocurrency miners, which are the systems that process the transactions and secure the respective network."
          },
          "partnerFee": {
            "type": "number",
            "description": "The fee amount charged by the partner to process your customer's purchase. This fee % can be set by you."
          },
          "paymentMethodType": {
            "type": "string",
            "description": "Payment Method Type used for this quote"
          },
          "serviceProvider": {
            "type": "string",
            "description": "Service Provider used on this quote",
            "enum": [
              "ACROSS",
              "AEROPAY",
              "AKOYA",
              "ALCHEMYPAY",
              "APPLEPAY",
              "AUTHORIZENET",
              "BANXA",
              "BILIRA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BOOMFI",
              "BRAINTREE",
              "BRALE",
              "BTCDIRECT",
              "CASHAPP",
              "CHECKOUT",
              "CIRCLE",
              "COINBASEPAY",
              "COINFLOW",
              "DUENETWORK",
              "ELDORADO",
              "FINICITY",
              "FONBNK",
              "GUARDARIAN",
              "HARBOUR",
              "KOYWE",
              "KRYPTONIM",
              "MERCURYO",
              "MESH",
              "MESO",
              "MOONPAY",
              "MOOV",
              "MX",
              "NMI",
              "NOAH",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "PLAID",
              "RAMP",
              "REVOLUT",
              "ROBINHOOD",
              "ROUTERPROTOCOL",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "SARDINE",
              "SHIFT4",
              "SHOPIFY",
              "SIMPLEX",
              "SKRILLCRYPTO",
              "SQUARE",
              "STRIPE",
              "SUMSUB",
              "SWAPPED",
              "TANGOCARD",
              "TELLER",
              "TOPPER",
              "TRANSAK",
              "TREMENDOUS",
              "TRANSFI",
              "UNLIMIT",
              "WYRE",
              "XANPOOL",
              "YELLOWCARD",
              "YODLEE"
            ]
          },
          "sourceAmount": {
            "type": "number",
            "description": "Amount requested + fees"
          },
          "sourceAmountWithoutFees": {
            "type": "number",
            "description": "The fiat amount being used to buy crypto, excluding fees. This will be deprecated in the future."
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code. Must be a supported currency"
          },
          "totalFee": {
            "type": "number",
            "description": "The total amount of fees that will be charged."
          },
          "transactionFee": {
            "type": "number",
            "description": "The fee amount charged by the service provider to process your customer's purchase"
          },
          "transactionType": {
            "type": "string",
            "description": "The type of crypto transaction, which is CRYPTO_PURCHASE or CRYPTO_SELL."
          }
        }
      },
      "CryptoVirtualAccountQuoteResponse": {
        "type": "object",
        "properties": {
          "quotes": {
            "type": "array",
            "description": "List of quotes",
            "items": {
              "$ref": "#/components/schemas/CryptoVirtualAccountQuote"
            }
          }
        }
      },
      "VirtualAccountOnrampOrderRequest": {
        "type": "object",
        "description": "Request to create a virtual account onramp order",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Customer id",
            "minLength": 1
          },
          "customerPhoneNumber": {
            "type": "string",
            "description": "customer phone number of the individual initiating the order on behalf of the sub account. This is required if passed payment method type requires phone number for example MOBILE_MONEY."
          },
          "destinationCurrencyCode": {
            "type": "string",
            "description": "Destination cryptocurrency code",
            "example": "USDC",
            "minLength": 1
          },
          "destinationWalletAddress": {
            "type": "string",
            "description": "Wallet address to receive the cryptocurrency",
            "example": "0xe51f36521fF5D857824e615a64D34808534a55f4",
            "minLength": 1
          },
          "externalCustomerId": {
            "type": "string",
            "description": "External customer id of the individual initiating the order"
          },
          "externalSubaccountCustomerId": {
            "type": "string",
            "description": "Optional external identifier for the sub-account customer this transaction belongs to. Used for tracking when multiple businesses operate under one Meld account. A sub-account customer must be created first before it can be referenced."
          },
          "paymentMethodType": {
            "type": "string",
            "description": "The desired payment method type in order to send the fiat currency",
            "minLength": 1
          },
          "serviceProvider": {
            "type": "string",
            "description": "Service provider to use for this onramp order",
            "enum": [
              "ACROSS",
              "AEROPAY",
              "AKOYA",
              "ALCHEMYPAY",
              "APPLEPAY",
              "AUTHORIZENET",
              "BANXA",
              "BILIRA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BOOMFI",
              "BRAINTREE",
              "BRALE",
              "BTCDIRECT",
              "CASHAPP",
              "CHECKOUT",
              "CIRCLE",
              "COINBASEPAY",
              "COINFLOW",
              "DUENETWORK",
              "ELDORADO",
              "FINICITY",
              "FONBNK",
              "GUARDARIAN",
              "HARBOUR",
              "KOYWE",
              "KRYPTONIM",
              "MERCURYO",
              "MESH",
              "MESO",
              "MOONPAY",
              "MOOV",
              "MX",
              "NMI",
              "NOAH",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "PLAID",
              "RAMP",
              "REVOLUT",
              "ROBINHOOD",
              "ROUTERPROTOCOL",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "SARDINE",
              "SHIFT4",
              "SHOPIFY",
              "SIMPLEX",
              "SKRILLCRYPTO",
              "SQUARE",
              "STRIPE",
              "SUMSUB",
              "SWAPPED",
              "TANGOCARD",
              "TELLER",
              "TOPPER",
              "TRANSAK",
              "TREMENDOUS",
              "TRANSFI",
              "UNLIMIT",
              "WYRE",
              "XANPOOL",
              "YELLOWCARD",
              "YODLEE"
            ]
          },
          "sourceAmount": {
            "type": "number",
            "description": "Source amount in fiat currency",
            "example": 20000,
            "minimum": 0
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Source currency code",
            "example": "USD",
            "minLength": 1
          },
          "subaccountCustomerId": {
            "type": "string",
            "description": "Optional Meld customer id used to track the business sub-account this transaction belongs to when multiple businesses operate under one Meld account."
          }
        },
        "required": [
          "customerId",
          "destinationCurrencyCode",
          "destinationWalletAddress",
          "paymentMethodType",
          "serviceProvider",
          "sourceAmount",
          "sourceCurrencyCode"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "displayMessage": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {}
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AchReceivingBankInformation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ReceivingBankInformation"
          },
          {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": "string",
                "description": "Bank account number"
              },
              "routingNumber": {
                "type": "string",
                "description": "Bank routing number"
              }
            }
          }
        ],
        "description": "Receiving bank details for ACH"
      },
      "LocalBankTransferReceivingBankInformation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ReceivingBankInformation"
          },
          {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": "string",
                "description": "Bank account number"
              },
              "routingNumber": {
                "type": "string",
                "description": "Bank routing number"
              }
            }
          }
        ],
        "description": "Receiving bank details for LOCAL_BANK_TRANSFER"
      },
      "ReceivingBankInformation": {
        "description": "Receiving bank details. The schema depends on paymentMethodType.",
        "discriminator": {
          "propertyName": "paymentMethodType"
        },
        "properties": {
          "paymentMethodType": {
            "type": "string"
          }
        },
        "required": [
          "paymentMethodType"
        ]
      },
      "SepaReceivingBankInformation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ReceivingBankInformation"
          },
          {
            "type": "object",
            "properties": {
              "iban": {
                "type": "string",
                "description": "IBAN"
              }
            }
          }
        ],
        "description": "Receiving bank details for SEPA"
      },
      "VirtualAccountOnrampOrderResponse": {
        "type": "object",
        "description": "Response containing virtual account onramp order details and bank information",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "Unique order ID for tracking the onramp order"
          },
          "paymentMethodType": {
            "type": "string",
            "description": "Payment method type for the bank transfer"
          },
          "receivingBankInformation": {
            "description": "Bank information for receiving the fiat transfer; shape depends on paymentMethodType",
            "oneOf": [
              {
                "$ref": "#/components/schemas/AchReceivingBankInformation"
              },
              {
                "$ref": "#/components/schemas/LocalBankTransferReceivingBankInformation"
              },
              {
                "$ref": "#/components/schemas/SepaReceivingBankInformation"
              }
            ]
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {},
            "description": "The raw service provider details for the order"
          }
        }
      },
      "AchPaymentMethodDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentMethodDetails"
          },
          {
            "type": "object",
            "properties": {
              "bankName": {
                "type": "string",
                "description": "Bank's name"
              },
              "accountType": {
                "type": "string",
                "description": "Bank account type",
                "example": "CHECKING, SAVINGS",
                "minLength": 1
              },
              "routingNumber": {
                "type": "string",
                "description": "Bank routing number",
                "minLength": 1
              },
              "accountNumber": {
                "type": "string",
                "description": "Bank account number",
                "minLength": 1
              },
              "beneficiaryAddress": {
                "$ref": "#/components/schemas/Address",
                "description": "Beneficiary's address"
              },
              "bankAddress": {
                "$ref": "#/components/schemas/Address",
                "description": "Bank address"
              }
            }
          }
        ],
        "description": "Payment method details for ACH / LOCAL_BANK_TRANSFER",
        "required": [
          "accountNumber",
          "accountType",
          "bankAddress",
          "beneficiaryAddress",
          "routingNumber"
        ]
      },
      "Address": {
        "type": "object",
        "description": "Address information",
        "properties": {
          "city": {
            "type": "string",
            "description": "City",
            "minLength": 1
          },
          "country": {
            "type": "string",
            "description": "Two-letter country code (ISO 3166-1 alpha-2)",
            "example": "US",
            "minLength": 1
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code",
            "minLength": 1
          },
          "state": {
            "type": "string",
            "description": "State"
          },
          "street_line_1": {
            "type": "string",
            "description": "Street line 1",
            "minLength": 1
          },
          "street_line_2": {
            "type": "string",
            "description": "Street line 2"
          }
        },
        "required": [
          "city",
          "country",
          "postalCode",
          "street_line_1"
        ]
      },
      "PaymentMethod": {
        "type": "object",
        "description": "Payment method details for offramp",
        "properties": {
          "details": {
            "description": "Payment method details",
            "oneOf": [
              {
                "$ref": "#/components/schemas/AchPaymentMethodDetails"
              },
              {
                "$ref": "#/components/schemas/SepaPaymentMethodDetails"
              }
            ]
          },
          "owner": {
            "type": "string",
            "description": "Account owner's first and last name",
            "minLength": 1
          },
          "type": {
            "type": "string",
            "description": "Payment method type",
            "enum": [
              "LOCAL_BANK_TRANSFER",
              "ACH",
              "SEPA"
            ]
          }
        },
        "required": [
          "details",
          "owner",
          "type"
        ]
      },
      "PaymentMethodDetails": {
        "description": "Payment method details. The schema depends on paymentMethod.type."
      },
      "SepaPaymentMethodDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaymentMethodDetails"
          },
          {
            "type": "object",
            "properties": {
              "iban": {
                "type": "string",
                "description": "IBAN",
                "minLength": 1
              }
            }
          }
        ],
        "description": "Payment method details for SEPA",
        "required": [
          "iban"
        ]
      },
      "VirtualAccountOfframpOrderRequest": {
        "type": "object",
        "description": "Request to create a virtual account offramp order",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Customer id",
            "minLength": 1
          },
          "destinationCurrencyCode": {
            "type": "string",
            "description": "Destination fiat currency code",
            "example": "USD",
            "minLength": 1
          },
          "externalSubaccountCustomerId": {
            "type": "string",
            "description": "Optional external identifier for the sub-account customer this transaction belongs to. Used for tracking when multiple businesses operate under one Meld account. A sub-account customer must be created first before it can be referenced."
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod",
            "description": "Payment method details for how and where the fiat currency will be received"
          },
          "serviceProvider": {
            "type": "string",
            "description": "Service provider to use for this offramp order",
            "enum": [
              "ACROSS",
              "AEROPAY",
              "AKOYA",
              "ALCHEMYPAY",
              "APPLEPAY",
              "AUTHORIZENET",
              "BANXA",
              "BILIRA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BOOMFI",
              "BRAINTREE",
              "BRALE",
              "BTCDIRECT",
              "CASHAPP",
              "CHECKOUT",
              "CIRCLE",
              "COINBASEPAY",
              "COINFLOW",
              "DUENETWORK",
              "ELDORADO",
              "FINICITY",
              "FONBNK",
              "GUARDARIAN",
              "HARBOUR",
              "KOYWE",
              "KRYPTONIM",
              "MERCURYO",
              "MESH",
              "MESO",
              "MOONPAY",
              "MOOV",
              "MX",
              "NMI",
              "NOAH",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "PLAID",
              "RAMP",
              "REVOLUT",
              "ROBINHOOD",
              "ROUTERPROTOCOL",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "SARDINE",
              "SHIFT4",
              "SHOPIFY",
              "SIMPLEX",
              "SKRILLCRYPTO",
              "SQUARE",
              "STRIPE",
              "SUMSUB",
              "SWAPPED",
              "TANGOCARD",
              "TELLER",
              "TOPPER",
              "TRANSAK",
              "TREMENDOUS",
              "TRANSFI",
              "UNLIMIT",
              "WYRE",
              "XANPOOL",
              "YELLOWCARD",
              "YODLEE"
            ]
          },
          "sourceAmount": {
            "type": "number",
            "description": "Source amount in cryptocurrency",
            "example": 20000,
            "minimum": 0
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Source cryptocurrency code",
            "example": "USDC",
            "minLength": 1
          },
          "sourceWalletAddress": {
            "type": "string",
            "description": "Source wallet address to send cryptocurrency from",
            "example": "0xe51f36521fF5D857824e615a64D34808534a55e6",
            "minLength": 1
          },
          "subaccountCustomerId": {
            "type": "string",
            "description": "Optional Meld customer id used to track the business sub-account this transaction belongs to when multiple businesses operate under one Meld account."
          }
        },
        "required": [
          "customerId",
          "destinationCurrencyCode",
          "paymentMethod",
          "serviceProvider",
          "sourceAmount",
          "sourceCurrencyCode",
          "sourceWalletAddress"
        ]
      },
      "VirtualAccountOfframpOrderResponse": {
        "type": "object",
        "description": "Response containing virtual account offramp order details",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "Unique order ID for tracking the offramp order"
          },
          "paymentMethodType": {
            "type": "string",
            "description": "Payment method for receiving the fiat funds"
          },
          "walletAddress": {
            "type": "string",
            "description": "Wallet address used for the transfer"
          }
        }
      },
      "PaymentMethodInput": {
        "type": "object",
        "description": "PaymentMethod objects represent your customer's payment instruments",
        "properties": {
          "details": {
            "$ref": "#/components/schemas/PaymentMethodDetails"
          },
          "type": {
            "type": "string",
            "description": "Payment method type used for this transaction, some methods may only apply for some providers, e.g. PLAID_TRANSFER_AUTHORIZATION for PLAID",
            "enum": [
              "ACH",
              "CARD",
              "MELD_PAYMENT_TOKEN",
              "PLAID_TRANSFER_AUTHORIZATION"
            ],
            "minLength": 1
          }
        },
        "required": [
          "details",
          "type"
        ]
      },
      "PaymentTransactionRequest": {
        "type": "object",
        "properties": {
          "3ds": {
            "$ref": "#/components/schemas/ThreeDeeEssInput",
            "description": "3ds settings"
          },
          "capture": {
            "type": "boolean",
            "description": "Should the payment be captured immediately, if set to false an authorization will be performed instead"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerInput",
            "description": "Information about your customer"
          },
          "customerId": {
            "type": "string",
            "description": "Meld's internal Id for the Customer"
          },
          "description": {
            "type": "string",
            "description": "A description about the transaction"
          },
          "externalCustomerId": {
            "type": "string",
            "description": "Your (optional) Id for this customer, for example an id or reference from your database which you may supply during customer creation"
          },
          "nonce": {
            "type": "string",
            "description": "A payment method nonce is a secure, one-time-use reference to payment information. It's the key element that allows your server to communicate sensitive payment information to the service provider without ever touching the raw data."
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodInput",
            "description": "PaymentMethod objects represent your customer's payment instruments."
          },
          "serviceProvider": {
            "type": "string",
            "description": "The service provider used for this transaction. Required when using a nonce or passthrough credentials, as they are tied to a specific service provider. Do not pass this in if you would like to use  <a href=\"https://docs.meld.io/docs/routing-overview#payments-routing\">routing</a> to select a service provider.",
            "enum": [
              "ALCHEMYPAY",
              "BANXA",
              "BILIRA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BOOMFI",
              "BTCDIRECT",
              "COINBASEPAY",
              "FONBNK",
              "GUARDARIAN",
              "KRYPTONIM",
              "KOYWE",
              "MESH",
              "MERCURYO",
              "MESO",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "RAMP",
              "REVOLUT",
              "ROBINHOOD",
              "SARDINE",
              "SHIFT4",
              "SIMPLEX",
              "SKRILLCRYPTO",
              "STRIPE",
              "SWAPPED",
              "TOPPER",
              "TRANSAK",
              "TRANSFI",
              "UNLIMIT",
              "YELLOWCARD"
            ]
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {},
            "description": "Provider specific details which may can be provided for this transaction, if supported by the Service Provider. For example, you can set a custom billing descriptor for your transaction using Checkout.com"
          },
          "sourceAmount": {
            "type": "string",
            "description": "Amount intended to be collected by this payment",
            "example": "10.50",
            "minLength": 1
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code, in lowercase. Must be a supported currency",
            "example": "USD",
            "minLength": 1
          }
        },
        "required": [
          "sourceAmount",
          "sourceCurrencyCode"
        ]
      },
      "ThreeDeeEssInput": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "CryptoDetails": {
        "type": "object",
        "properties": {
          "blockchainTransactionId": {
            "type": "string",
            "description": "The transaction id on the blockchain"
          },
          "chainId": {
            "type": "string",
            "description": "A unique identifier that represents a blockchain network. The chainId of a particular network is standard everywhere."
          },
          "institution": {
            "type": "string",
            "description": "The institution used to execute the transaction. Only applicable for transfers currently."
          },
          "networkFee": {
            "type": "number",
            "description": "This fee is paid to cryptocurrency miners, which are the systems that process the transactions"
          },
          "networkFeeInUsd": {
            "type": "number",
            "description": "This network fee in USD"
          },
          "offrampDestinationWalletAddress": {
            "type": "string",
            "description": "The offramp destination wallet address"
          },
          "partnerFee": {
            "type": "number",
            "description": "The partner fee amount"
          },
          "partnerFeeInUsd": {
            "type": "number",
            "description": "The partner fee in USD"
          },
          "swapFee": {
            "type": "number",
            "description": "The swap fee amount charged by the swap provider for ramp+swap transactions"
          },
          "swapFeeInUsd": {
            "type": "number",
            "description": "The swap fee in USD"
          },
          "totalFee": {
            "type": "number",
            "description": "The total amount of fees that will be charged"
          },
          "totalFeeInUsd": {
            "type": "number",
            "description": "The total fee in USD"
          },
          "transactionFee": {
            "type": "number",
            "description": "The fee amount charged by the service provider to process your customer's purchase"
          },
          "transactionFeeInUsd": {
            "type": "number",
            "description": "The transaction fee in USD"
          },
          "walletAddress": {
            "type": "string",
            "description": "Your customer's crypto wallet"
          }
        }
      },
      "CustomerAddressOutput": {
        "type": "object",
        "properties": {
          "addressDetails": {
            "$ref": "#/components/schemas/CustomerAddressDetails",
            "description": "Address details"
          },
          "type": {
            "type": "string",
            "description": "Address type such as BILLING, SHIPPING, RESIDENCE, etc.",
            "enum": [
              "BILLING",
              "SHIPPING",
              "RESIDENCE"
            ]
          }
        }
      },
      "CustomerOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Your Account Id"
          },
          "addresses": {
            "type": "array",
            "description": "Your Customer's addresses, such as billing, shipping, etc.",
            "items": {
              "$ref": "#/components/schemas/CustomerAddressOutput"
            }
          },
          "email": {
            "type": "string",
            "description": "Your Customer's email address"
          },
          "externalId": {
            "type": "string",
            "description": "Your optionally supplied Id for your Customer, e.g. a Customer Id in your system"
          },
          "id": {
            "type": "string",
            "description": "Meld's internal Id for the Customer"
          },
          "name": {
            "$ref": "#/components/schemas/CustomerName",
            "description": "Your Customer's name"
          },
          "phone": {
            "type": "string",
            "description": "Your Customer's phone number"
          },
          "serviceProviders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "A map of Service Providers and service provider IDs for this Customer"
          },
          "status": {
            "type": "string",
            "description": "ACTIVE or INACTIVE, may not be set"
          }
        }
      },
      "MultiFactorAuthorizationStatusOutput": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "description": "How the card details were authorized",
            "enum": [
              "SMS",
              "CARD",
              "EMAIL",
              "THREE_DS"
            ]
          },
          "submitted": {
            "type": "boolean",
            "description": "Return <b><i>True</i></b> if the information was submitted"
          },
          "successful": {
            "type": "boolean",
            "description": "Return <b><i>True</i></b> if the submitted information is a match"
          },
          "url": {
            "type": "string",
            "description": "URL used to perform authorization (if applicable)"
          }
        }
      },
      "PaymentDetails": {
        "type": "object",
        "properties": {
          "authAmount": {
            "type": "number",
            "description": "The amount authorized to be charged (must be greater than the amount intended to be collected.) Note that the number of digits with a decimal point varies with the currency. Reference the list of active codes of official ISO 4217 currency names."
          },
          "captureAmount": {
            "type": "number",
            "description": "The amount captured (can be less than the amount intended to be collected.) Note that the number of digits with a decimal point varies with the currency. Reference the list of active codes of official ISO 4217 currency names."
          }
        }
      },
      "PaymentTransactionOutput20230401": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Your account Id"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166 2-digit country code."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "An ISO 8601 DateTime at which the object was created."
          },
          "cryptoDetails": {
            "$ref": "#/components/schemas/CryptoDetails",
            "description": "Details of the crypto currency purchase, sale, or transfer"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerOutput",
            "description": "Your customer's details"
          },
          "description": {
            "type": "string",
            "description": "An arbitrary string which you can attach to this transaction. It is displayed when in the web interface alongside the charge."
          },
          "destinationAmount": {
            "type": "number",
            "description": "The destination amount of the transaction, e.g. the amount of crypto currency purchased"
          },
          "destinationCurrencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code. Must be a supported currency"
          },
          "externalCustomerId": {
            "type": "string",
            "description": "Your unique identifier for your customer. If maintaining your own customer management system this can also be used for tracking customer activity."
          },
          "externalReferenceId": {
            "type": "string",
            "description": "Your optional reference id provided during transaction creation"
          },
          "externalSessionId": {
            "type": "string",
            "description": "The external Id of the session."
          },
          "externalSubaccountCustomerId": {
            "type": "string",
            "description": "Optional external identifier for the sub-account customer this transaction belongs to. Used for tracking when multiple businesses operate under one Meld account. A sub-account customer must be created first before it can be referenced."
          },
          "fiatAmountInUsd": {
            "type": "number",
            "description": "The fiat amount of the transaction in usd"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for this transaction"
          },
          "isImported": {
            "type": "boolean",
            "description": "Return <i><b>True</b></i> if this transaction was initiated outside Meld"
          },
          "isPassthrough": {
            "type": "boolean",
            "description": "Return <i><b>True</b></i> if the passthrough credentials were used"
          },
          "key": {
            "type": "string",
            "description": "Pagination key, may be used with the \"after\" parameter in search requests.  Only set and relevant for paginated calls"
          },
          "multiFactorAuthorizationStatus": {
            "type": "array",
            "description": "The transaction required multi-factor authentication methods, and their current status. When required, must be approved for the purchase tobe completed successfully.",
            "items": {
              "$ref": "#/components/schemas/MultiFactorAuthorizationStatusOutput"
            },
            "uniqueItems": true
          },
          "orderId": {
            "type": "string",
            "description": "Unique identifier for the order associated with this transaction, when applicable"
          },
          "parentPaymentTransactionId": {
            "type": "string",
            "description": "The Id of the associated object for this line item"
          },
          "passthroughReference": {
            "type": "string",
            "description": "The unique reference you use to identify the partner on whose behalf you created this transaction.  This might be a String or UUID in your system to identify a merchant or partner.  This is needed so that you can associate passthrough transactions to your partners who may not be registered with Meld"
          },
          "paymentDetails": {
            "$ref": "#/components/schemas/PaymentDetails",
            "description": "payment details"
          },
          "paymentMethodType": {
            "type": "string",
            "description": "Payment Method type used for this transaction."
          },
          "serviceProvider": {
            "type": "string",
            "description": "The service provider used for this transaction"
          },
          "serviceProviderCreatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO 8601 DateTime when the transaction was created on the service provider's side"
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {},
            "description": "The service provider's details"
          },
          "serviceProviderTransactionUrl": {
            "type": "string",
            "description": "A link to the resource on the Service Provider, may not be present"
          },
          "serviceTransactionId": {
            "type": "string",
            "description": "The service provider's unique identifier for this transaction"
          },
          "sessionClientTags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "A map of client tags"
          },
          "sessionId": {
            "type": "string",
            "description": "The Id of the session."
          },
          "sourceAmount": {
            "type": "number",
            "description": "The amount of the transaction"
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code. Must be a supported currency"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction"
          },
          "subaccountCustomerId": {
            "type": "string",
            "description": "Optional Meld customer id used to track the business sub-account this transaction belongs to when multiple businesses operate under one Meld account."
          },
          "transactionType": {
            "type": "string",
            "description": "The transaction's type"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the object was last updated. Measured in seconds since the Unix epoch."
          }
        },
        "required": [
          "createdAt",
          "id",
          "serviceProvider",
          "sessionId",
          "status",
          "transactionType",
          "updatedAt"
        ]
      },
      "PaymentTransactionResponse20230401": {
        "type": "object",
        "properties": {
          "transaction": {
            "$ref": "#/components/schemas/PaymentTransactionOutput20230401",
            "description": "Payment transaction information"
          }
        }
      },
      "PaymentRefundRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "An arbitrary string attached to the object. Often useful for displaying to users."
          },
          "reason": {
            "type": "string",
            "description": "Reason for the refund"
          },
          "sourceAmount": {
            "type": "number",
            "description": "Amount to be refunded. Can be a partial refund. If not provided, a refund for the total value will be submitted",
            "minimum": 0
          }
        },
        "required": [
          "sourceAmount"
        ]
      },
      "PaymentCaptureRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "sourceAmount": {
            "type": "number",
            "description": "If not provided then the entire Authorization amount will be captured.",
            "minimum": 0
          }
        }
      },
      "PayoutTransactionRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Meld's internal Id for the Customer"
          },
          "description": {
            "type": "string",
            "description": "A description about the transaction"
          },
          "externalCustomerId": {
            "type": "string",
            "description": "Your (optional) Id for this customer, for example an id or reference from your database which you may supply during customer creation"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodInput",
            "description": "PaymentMethod objects represent your customer's receiving payment instrument"
          },
          "serviceProvider": {
            "type": "string",
            "description": "The service provider used for this transaction.",
            "enum": [
              "ACROSS",
              "AEROPAY",
              "AKOYA",
              "ALCHEMYPAY",
              "APPLEPAY",
              "AUTHORIZENET",
              "BANXA",
              "BILIRA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BOOMFI",
              "BRAINTREE",
              "BRALE",
              "BTCDIRECT",
              "CASHAPP",
              "CHECKOUT",
              "CIRCLE",
              "COINBASEPAY",
              "COINFLOW",
              "DUENETWORK",
              "ELDORADO",
              "FINICITY",
              "FONBNK",
              "GUARDARIAN",
              "HARBOUR",
              "KOYWE",
              "KRYPTONIM",
              "MERCURYO",
              "MESH",
              "MESO",
              "MOONPAY",
              "MOOV",
              "MX",
              "NMI",
              "NOAH",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "PLAID",
              "RAMP",
              "REVOLUT",
              "ROBINHOOD",
              "ROUTERPROTOCOL",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "SARDINE",
              "SHIFT4",
              "SHOPIFY",
              "SIMPLEX",
              "SKRILLCRYPTO",
              "SQUARE",
              "STRIPE",
              "SUMSUB",
              "SWAPPED",
              "TANGOCARD",
              "TELLER",
              "TOPPER",
              "TRANSAK",
              "TREMENDOUS",
              "TRANSFI",
              "UNLIMIT",
              "WYRE",
              "XANPOOL",
              "YELLOWCARD",
              "YODLEE"
            ]
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {},
            "description": "Provider specific details which may can be provided for this transaction, if supported by the Service Provider."
          },
          "sourceAmount": {
            "type": "string",
            "description": "Amount intended to be sent by this payout",
            "example": "10.50",
            "minLength": 1
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code, in lowercase. Must be a supported currency",
            "example": "USD",
            "minLength": 1
          }
        },
        "required": [
          "sourceAmount",
          "sourceCurrencyCode"
        ]
      },
      "PaymentTokenRequest": {
        "type": "object",
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/CustomerInput",
            "description": "Information about your customer"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodInput"
          },
          "serviceProviders": {
            "type": "array",
            "description": "The service provider(s) to attempt to create tokens with. If successful, the returned Meld payment token will be compatible with each of these providers.",
            "items": {
              "type": "string",
              "enum": [
                "AUTHORIZENET",
                "BRAINTREE",
                "CHECKOUT",
                "CIRCLE",
                "NMI",
                "STRIPE"
              ]
            }
          }
        }
      },
      "PaymentTokenResponse": {
        "type": "object",
        "properties": {
          "meldPaymentMethodTokenId": {
            "type": "string",
            "description": "The id of the meld payment method token"
          },
          "serviceProviders": {
            "type": "array",
            "description": "List of service providers that successfully tokenized the provided payment method. This Meld payment token can be used to create future transactions with these service providers.",
            "items": {
              "type": "string",
              "enum": [
                "ACROSS",
                "AEROPAY",
                "AKOYA",
                "ALCHEMYPAY",
                "APPLEPAY",
                "AUTHORIZENET",
                "BANXA",
                "BILIRA",
                "BINANCECONNECT",
                "BINANCEPAY",
                "BLOCKCHAINDOTCOM",
                "BOOMFI",
                "BRAINTREE",
                "BRALE",
                "BTCDIRECT",
                "CASHAPP",
                "CHECKOUT",
                "CIRCLE",
                "COINBASEPAY",
                "COINFLOW",
                "DUENETWORK",
                "ELDORADO",
                "FINICITY",
                "FONBNK",
                "GUARDARIAN",
                "HARBOUR",
                "KOYWE",
                "KRYPTONIM",
                "MERCURYO",
                "MESH",
                "MESO",
                "MOONPAY",
                "MOOV",
                "MX",
                "NMI",
                "NOAH",
                "ONMETA",
                "ONRAMPMONEY",
                "PAYBIS",
                "PAYPAL",
                "PLAID",
                "RAMP",
                "REVOLUT",
                "ROBINHOOD",
                "ROUTERPROTOCOL",
                "SALTEDGE",
                "SALTEDGEPARTNERS",
                "SARDINE",
                "SHIFT4",
                "SHOPIFY",
                "SIMPLEX",
                "SKRILLCRYPTO",
                "SQUARE",
                "STRIPE",
                "SUMSUB",
                "SWAPPED",
                "TANGOCARD",
                "TELLER",
                "TOPPER",
                "TRANSAK",
                "TREMENDOUS",
                "TRANSFI",
                "UNLIMIT",
                "WYRE",
                "XANPOOL",
                "YELLOWCARD",
                "YODLEE"
              ]
            }
          }
        }
      },
      "ServiceProviderCustomerCreateRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Meld's id for the customer"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodInput",
            "description": "Customer's payment instrument"
          }
        },
        "required": [
          "customerId",
          "paymentMethod"
        ]
      },
      "ServiceProviderCustomersCreateBatchRequest": {
        "type": "object",
        "properties": {
          "customers": {
            "type": "array",
            "description": "Customers to create",
            "items": {
              "$ref": "#/components/schemas/ServiceProviderCustomerCreateRequest"
            },
            "minItems": 1
          },
          "serviceProvider": {
            "type": "string",
            "description": "Service provider to create the customers with"
          }
        },
        "required": [
          "customers",
          "serviceProvider"
        ]
      },
      "ServiceProviderCustomersCreateBatchResponse": {
        "type": "object",
        "properties": {
          "batchId": {
            "type": "string"
          }
        }
      },
      "PaymentDetailsRequest": {
        "type": "object",
        "properties": {
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethodInput"
          }
        }
      },
      "PlaidMigrateAccountResponse": {
        "type": "object",
        "description": "The id and token for a Plaid account used in a transfer",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "The Plaid access token for the newly created item.",
            "minLength": 1
          },
          "accountId": {
            "type": "string",
            "description": "The Plaid account id for the newly created item.",
            "minLength": 1
          },
          "requestId": {
            "type": "string",
            "description": "Plaid's unique identifier for the request, which can be used for troubleshooting. This identifier, like all Plaid identifiers, is case sensitive.",
            "minLength": 1
          }
        },
        "required": [
          "accessToken",
          "accountId",
          "requestId"
        ]
      },
      "PlaidTransferAccountFields": {
        "type": "object",
        "description": "The id and token for a Plaid account used in a transfer",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "The Plaid access_token for the account that will be debited or credited.",
            "minLength": 1
          },
          "accountId": {
            "type": "string",
            "description": "The Plaid account_id corresponding to the end-user account that will be debited or credited.",
            "minLength": 1
          }
        },
        "required": [
          "accessToken",
          "accountId"
        ]
      },
      "RiskAnalysisRequest": {
        "type": "object",
        "properties": {
          "achClass": {
            "type": "string",
            "description": "The ACH class of the transaction (CCD, PPD, TEL, WEB)",
            "enum": [
              "CCD",
              "PPD",
              "TEL",
              "WEB"
            ]
          },
          "amount": {
            "type": "number",
            "description": "Amount intended to be sent by this transaction",
            "example": "10.50"
          },
          "currencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code, in lowercase. Must be a supported currency",
            "example": "USD",
            "minLength": 1
          },
          "name": {
            "$ref": "#/components/schemas/CustomerName",
            "description": "Customer name"
          },
          "plaidTransferAccountFields": {
            "$ref": "#/components/schemas/PlaidTransferAccountFields",
            "description": "The id and token for a Plaid account used in a transfer"
          },
          "serviceProvider": {
            "type": "string",
            "description": "The service provider used for this transaction.",
            "enum": [
              "ACROSS",
              "AEROPAY",
              "AKOYA",
              "ALCHEMYPAY",
              "APPLEPAY",
              "AUTHORIZENET",
              "BANXA",
              "BILIRA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BOOMFI",
              "BRAINTREE",
              "BRALE",
              "BTCDIRECT",
              "CASHAPP",
              "CHECKOUT",
              "CIRCLE",
              "COINBASEPAY",
              "COINFLOW",
              "DUENETWORK",
              "ELDORADO",
              "FINICITY",
              "FONBNK",
              "GUARDARIAN",
              "HARBOUR",
              "KOYWE",
              "KRYPTONIM",
              "MERCURYO",
              "MESH",
              "MESO",
              "MOONPAY",
              "MOOV",
              "MX",
              "NMI",
              "NOAH",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "PLAID",
              "RAMP",
              "REVOLUT",
              "ROBINHOOD",
              "ROUTERPROTOCOL",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "SARDINE",
              "SHIFT4",
              "SHOPIFY",
              "SIMPLEX",
              "SKRILLCRYPTO",
              "SQUARE",
              "STRIPE",
              "SUMSUB",
              "SWAPPED",
              "TANGOCARD",
              "TELLER",
              "TOPPER",
              "TRANSAK",
              "TREMENDOUS",
              "TRANSFI",
              "UNLIMIT",
              "WYRE",
              "XANPOOL",
              "YELLOWCARD",
              "YODLEE"
            ]
          },
          "type": {
            "type": "string",
            "description": "The type of the transaction, either CHARGE or PAYOUT",
            "enum": [
              "CHARGE",
              "REFUND",
              "CRYPTO_PURCHASE",
              "CRYPTO_PURCHASE_SWAP",
              "CRYPTO_SELL",
              "CRYPTO_SELL_SWAP",
              "CRYPTO_TRANSFER",
              "PAYOUT"
            ]
          }
        },
        "required": [
          "achClass",
          "amount",
          "currencyCode"
        ]
      },
      "DecisionRationale": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Risk": {
        "type": "object",
        "properties": {
          "bankInitiatedReturnScore": {
            "type": "integer",
            "format": "int32"
          },
          "customerInitiatedReturnScore": {
            "type": "integer",
            "format": "int32"
          },
          "riskLevel": {
            "type": "string"
          }
        }
      },
      "RiskAnalysisResponse": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string"
          },
          "decisionRationale": {
            "$ref": "#/components/schemas/DecisionRationale"
          },
          "risk": {
            "$ref": "#/components/schemas/Risk"
          },
          "serviceProvider": {
            "type": "string",
            "enum": [
              "ACROSS",
              "AEROPAY",
              "AKOYA",
              "ALCHEMYPAY",
              "APPLEPAY",
              "AUTHORIZENET",
              "BANXA",
              "BILIRA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BOOMFI",
              "BRAINTREE",
              "BRALE",
              "BTCDIRECT",
              "CASHAPP",
              "CHECKOUT",
              "CIRCLE",
              "COINBASEPAY",
              "COINFLOW",
              "DUENETWORK",
              "ELDORADO",
              "FINICITY",
              "FONBNK",
              "GUARDARIAN",
              "HARBOUR",
              "KOYWE",
              "KRYPTONIM",
              "MERCURYO",
              "MESH",
              "MESO",
              "MOONPAY",
              "MOOV",
              "MX",
              "NMI",
              "NOAH",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "PLAID",
              "RAMP",
              "REVOLUT",
              "ROBINHOOD",
              "ROUTERPROTOCOL",
              "SALTEDGE",
              "SALTEDGEPARTNERS",
              "SARDINE",
              "SHIFT4",
              "SHOPIFY",
              "SIMPLEX",
              "SKRILLCRYPTO",
              "SQUARE",
              "STRIPE",
              "SUMSUB",
              "SWAPPED",
              "TANGOCARD",
              "TELLER",
              "TOPPER",
              "TRANSAK",
              "TREMENDOUS",
              "TRANSFI",
              "UNLIMIT",
              "WYRE",
              "XANPOOL",
              "YELLOWCARD",
              "YODLEE"
            ]
          },
          "serviceProviderTransferAuthorizationId": {
            "type": "string"
          }
        }
      },
      "ExternalRefundRequest": {
        "type": "object",
        "properties": {
          "serviceProvider": {
            "type": "string",
            "description": "The service provider that processed the original transaction",
            "enum": [
              "ALCHEMYPAY",
              "BANXA",
              "BILIRA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BOOMFI",
              "BTCDIRECT",
              "COINBASEPAY",
              "FONBNK",
              "GUARDARIAN",
              "KRYPTONIM",
              "KOYWE",
              "MESH",
              "MERCURYO",
              "MESO",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "RAMP",
              "REVOLUT",
              "ROBINHOOD",
              "SARDINE",
              "SHIFT4",
              "SIMPLEX",
              "SKRILLCRYPTO",
              "STRIPE",
              "SWAPPED",
              "TOPPER",
              "TRANSAK",
              "TRANSFI",
              "UNLIMIT",
              "YELLOWCARD"
            ]
          },
          "serviceTransactionId": {
            "type": "string",
            "description": "The service provider's unique identifier for the original transaction",
            "minLength": 1
          },
          "sourceAmount": {
            "type": "number",
            "description": "Amount to be refunded. Can be a partial refund",
            "minimum": 0
          }
        },
        "required": [
          "serviceProvider",
          "serviceTransactionId",
          "sourceAmount"
        ]
      },
      "ExternalImportRequest": {
        "type": "object",
        "properties": {
          "serviceProvider": {
            "type": "string",
            "description": "The service provider from where the transaction will be imported",
            "enum": [
              "ALCHEMYPAY",
              "BANXA",
              "BILIRA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BOOMFI",
              "BTCDIRECT",
              "COINBASEPAY",
              "FONBNK",
              "GUARDARIAN",
              "KRYPTONIM",
              "KOYWE",
              "MESH",
              "MERCURYO",
              "MESO",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "RAMP",
              "REVOLUT",
              "ROBINHOOD",
              "SARDINE",
              "SHIFT4",
              "SIMPLEX",
              "SKRILLCRYPTO",
              "STRIPE",
              "SWAPPED",
              "TOPPER",
              "TRANSAK",
              "TRANSFI",
              "UNLIMIT",
              "YELLOWCARD"
            ]
          },
          "serviceTransactionId": {
            "type": "string",
            "description": "The id of the transaction to be imported",
            "minLength": 1
          }
        },
        "required": [
          "serviceProvider",
          "serviceTransactionId"
        ]
      },
      "CryptoPurchaseDetails": {
        "type": "object",
        "properties": {
          "blockchainTransactionId": {
            "type": "string",
            "description": "The transaction id on the blockchain"
          },
          "destinationAmount": {
            "type": "number",
            "description": "The amount of the destination currency your customer received in their wallet"
          },
          "destinationCurrencyCode": {
            "type": "string",
            "description": "The destination currency symbol your customer received in their wallet(e.g., BTC, ETH)"
          },
          "institution": {
            "type": "string",
            "description": "The institution used to execute the transaction. Only applicable for transfers currently."
          },
          "networkFee": {
            "type": "number",
            "description": "This fee is paid to cryptocurrency miners, which are the systems that process the transactions"
          },
          "networkFeeInUsd": {
            "type": "number",
            "description": "This network fee in USD"
          },
          "partnerFee": {
            "type": "number",
            "description": "The partner fee amount"
          },
          "partnerFeeInUsd": {
            "type": "number",
            "description": "The partner fee in USD"
          },
          "totalFee": {
            "type": "number",
            "description": "The total amount of fees that will be charged"
          },
          "totalFeeInUsd": {
            "type": "number",
            "description": "The total fee in USD"
          },
          "transactionFee": {
            "type": "number",
            "description": "The fee amount charged by the service provider to process your customer's purchase"
          },
          "transactionFeeInUsd": {
            "type": "number",
            "description": "The transaction fee in USD"
          },
          "walletAddress": {
            "type": "string",
            "description": "Your customer's crypto wallet"
          }
        }
      },
      "PaymentMethodOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Your Account Id"
          },
          "id": {
            "type": "string",
            "description": "The Payment Method's Meld Id"
          },
          "serviceProvider": {
            "type": "string",
            "description": "The Service Provider on which this payment method is specified"
          },
          "token": {
            "type": "string",
            "description": "The ID the Service Provider uses for this Payment Method"
          }
        }
      },
      "PaymentTransactionOutput": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Your account Id"
          },
          "authAmount": {
            "type": "number",
            "description": "The amount authorized to be charged (must be greater than the amount intended to be collected.) Note that the number of digits with a decimal point varies with the currency. Reference the list of active codes of official ISO 4217 currency names."
          },
          "captureAmount": {
            "type": "number",
            "description": "The amount captured (can be less than the amount intended to be collected.) Note that the number of digits with a decimal point varies with the currency. Reference the list of active codes of official ISO 4217 currency names."
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166 2-digit country code."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "An ISO 8601 DateTime at which the object was created."
          },
          "cryptoPurchaseDetails": {
            "$ref": "#/components/schemas/CryptoPurchaseDetails",
            "description": "Details of the crypto currency purchase"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerOutput",
            "description": "Your customer's details"
          },
          "description": {
            "type": "string",
            "description": "An arbitrary string which you can attach to this transaction. It is displayed when in the web interface alongside the charge."
          },
          "destinationAmount": {
            "type": "number",
            "description": "The destination amount of the transaction, e.g. the amount of crypto currency purchased"
          },
          "destinationCurrencyCode": {
            "type": "string",
            "description": "Three-letter ISO currency code. Must be a supported currency"
          },
          "destinationWalletAddress": {
            "type": "string",
[...]
