{
  "openapi": "3.1.0",
  "info": {
    "title": "CUSTOMER",
    "termsOfService": "urn:tos",
    "license": {
      "name": "Apache 2.0",
      "url": "https://springdoc.org"
    },
    "version": "unversioned",
    "description": ""
  },
  "servers": [
    {
      "url": "https://api-sb.meld.io",
      "description": "Meld API sandbox"
    },
    {
      "url": "https://api.meld.io",
      "description": "Meld API production"
    }
  ],
  "paths": {
    "/accounts/customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a new customer or retrieve a customer by its external id",
        "operationId": "accounts-customers-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest20230401"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer is returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Customer20230401"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Search customers",
        "description": "Returns a list of customers that match the query parameters. The customers are sorted by external id.",
        "operationId": "accounts-customers-search",
        "parameters": [
          {
            "name": "customerIds",
            "in": "query",
            "description": "Meld generated unique identifier for your customer. This should be used to track customer activity. This takes a comma separated list of customer ids.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalCustomerId",
            "in": "query",
            "description": "Your unique identifier for your customer. If maintaining your own customer management system this can also be used for tracking customer activity.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Customer's email",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Customer's phone",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Customer's status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INACTIVE"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Customer type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "INDIVIDUAL",
                "BUSINESS"
              ]
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Key of customer to get before. The next batch of results will be immediately before this customer.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Key of customer to get after. The next batch of results will be immediately after this customer.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limits number of returned customers.<p><i>Default value</i>: 10 or the number of customer ids provided<p><i>Minimum value</i>: 1<p><i>Maximum value</i>: 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customers are returned",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerPage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/accounts/customers/{customerId}": {
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Update a customer",
        "operationId": "accounts-customers-update",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdateRequest20230401"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer is updated",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Customer20230401"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Customer cannot be found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a customer",
        "description": "Use this endpoint to delete a customer with Meld and/or with any of the service providers it is linked to. This endpoint should only be used for customers using the Bank-Linking stack, as it is not yet compatible with the Payments or Crypto stack. If a customer is deleted that is linked to a Payments or Crypto service provider customer, it will still be deleted with Meld, but not with the provider.<p><i><b>Note:</i></b> For customers using the Bank-Linking stack, this will delete all of the customer's connections and financial accounts as well.",
        "operationId": "accounts-customers-delete",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Meld generated unique identifier for your customer. This should be used to track customer activity.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceProviders",
            "in": "query",
            "description": "Comma separated list of service providers. If present, the customer will <i><b>only</i></b> be deleted with these specified service provider(s), but the Meld customer will remain active. This can be useful for when service providers impose restrictions on the number of customers allowed in their sandbox/development environments. In such cases, you may only want to delete the customer with that provider, but maintain it for other providers it is connected to, if any. If this parameter is absent, then the customer will be deleted with all the service providers it is linked to and the Meld customer will be deleted as well.<p><i><b>Note:</i></b> Currently, this endpoint only supports deleting <a href=https://docs.meld.io/docs/bank-linking-supported-service-providers>Bank-Linking service provider</a> customers. Therefore, Payments/Crypto service providers <i><b>should not</i></b> be included.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer is deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDeletedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Customer cannot be found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Customer already deleted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/accounts/customers/{customerId}/addresses": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add an address to a customer",
        "operationId": "accounts-customers-addresses-create",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerAddressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Address is created",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAddress"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/accounts/customers/{customerId}/kyc/initiate": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Initiate customer KYC",
        "description": "Retrieve a url that when launched displays a UI that commences KYC for your user",
        "operationId": "accounts-customers-kyc-initiate",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateKycRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InitiateKycResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "KYC already initiated for this customer and provider",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Customer is not compliant for KYC sharing",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CreateAccountRequest": {
        "type": "object",
        "properties": {
          "linkedAccountId": {
            "type": "string",
            "description": "Cross-environment linked account"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "minLength": 1
          }
        },
        "required": [
          "name"
        ]
      },
      "Account": {
        "type": "object",
        "properties": {
          "environment": {
            "type": "string",
            "description": "Environment (PRODUCTION or SANDBOX)"
          },
          "id": {
            "type": "string",
            "description": "Id"
          },
          "key": {
            "type": "string",
            "description": "When this account is part of a paginated list, this key represents its position in the list."
          },
          "name": {
            "type": "string",
            "description": "Name"
          },
          "status": {
            "type": "string",
            "description": "Status"
          }
        }
      },
      "CreateUserInvitationRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "description": "Name",
            "minLength": 1
          },
          "roles": {
            "type": "array",
            "description": "Roles",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "uniqueItems": true
          }
        },
        "required": [
          "email",
          "name",
          "roles"
        ]
      },
      "UserInvitation": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account id"
          },
          "accountName": {
            "type": "string",
            "description": "Account name"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time created"
          },
          "email": {
            "type": "string",
            "description": "Email"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time expires"
          },
          "id": {
            "type": "string",
            "description": "Id"
          },
          "key": {
            "type": "string",
            "description": "When this user invitation is part of a paginated list, this key represents its position in the list."
          },
          "name": {
            "type": "string",
            "description": "Name"
          },
          "roles": {
            "type": "array",
            "description": "Roles",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "description": "Status"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time status was updated"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "displayMessage": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {}
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserInvitationResendResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Request id"
          }
        }
      },
      "AccountLinkRequest": {
        "type": "object",
        "properties": {
          "linkedAccountId": {
            "type": "string",
            "description": "Cross-environment linked account",
            "minLength": 1
          }
        },
        "required": [
          "linkedAccountId"
        ]
      },
      "AccountLinkResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "AcrossAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey"
        ]
      },
      "AcrossConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "AeropayAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "apiSecret": {
                "type": "string"
              },
              "merchantId": {
                "type": "string"
              },
              "sftpUsername": {
                "type": "string"
              },
              "sftpPassword": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "apiSecret",
          "merchantId",
          "sftpPassword",
          "sftpUsername"
        ]
      },
      "AeropayConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "AkoyaAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "clientSecret": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "clientId",
          "clientSecret"
        ]
      },
      "AkoyaConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "AlchemyPayAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "applicationId": {
                "type": "string"
              },
              "secretKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "applicationId",
          "secretKey"
        ]
      },
      "AlchemyPayConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "ApplePayAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          }
        ]
      },
      "ApplePayConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "BanxaAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey"
        ]
      },
      "BanxaConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiBaseUrl": {
                "type": "string",
                "minLength": 1
              }
            }
          }
        ],
        "required": [
          "apiBaseUrl"
        ]
      },
      "BiliraAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "clientSecret": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "clientId",
          "clientSecret"
        ]
      },
      "BiliraConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "BinanceConnectAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "signAccessToken": {
                "type": "string"
              },
              "privateKey": {
                "type": "string"
              },
              "binancePublicKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "binancePublicKey",
          "clientId",
          "privateKey",
          "signAccessToken"
        ]
      },
      "BinanceConnectConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "hideSend": {
                "type": "boolean"
              }
            }
          }
        ]
      },
      "BinancePayAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "source": {
                "type": "string"
              },
              "privateSigningKey": {
                "type": "string"
              },
              "binancePublicKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "binancePublicKey",
          "privateSigningKey",
          "source"
        ]
      },
      "BinancePayConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "BlockchainDotComAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "publicApiKey": {
                "type": "string"
              },
              "privateApiKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "privateApiKey",
          "publicApiKey"
        ]
      },
      "BlockchainDotComConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "BoomFiAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "merchantId": {
                "type": "string"
              },
              "webhookPublicKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "merchantId",
          "webhookPublicKey"
        ]
      },
      "BoomFiConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "BraintreeAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "merchantId": {
                "type": "string"
              },
              "publicKey": {
                "type": "string"
              },
              "privateKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "merchantId",
          "privateKey",
          "publicKey"
        ]
      },
      "BraintreeConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "BraleAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "clientSecret": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "clientId",
          "clientSecret"
        ]
      },
      "BraleConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "BtcDirectAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "userName": {
                "type": "string"
              },
              "password": {
                "type": "string"
              },
              "webhookSecret": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "password",
          "userName",
          "webhookSecret"
        ]
      },
      "BtcDirectConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "loginRedirectUrl": {
                "type": "string"
              }
            }
          }
        ]
      },
      "CheckoutAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "secretKey": {
                "type": "string"
              },
              "publicKey": {
                "type": "string"
              },
              "webhookSigningKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "publicKey",
          "secretKey",
          "webhookSigningKey"
        ]
      },
      "CheckoutConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "CircleAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey"
        ]
      },
      "CircleConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "CoinFlowAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey"
        ]
      },
      "CoinFlowConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "CoinbasePayAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKeyId": {
                "type": "string"
              },
              "secretKey": {
                "type": "string"
              },
              "apiKey": {
                "type": "string"
              },
              "appId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "CoinbasePayConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "CreateServiceProviderAccessProfileRequest": {
        "type": "object",
        "properties": {
          "authSettings": {
            "description": "Auth settings",
            "oneOf": [
              {
                "$ref": "#/components/schemas/AcrossAuthSettings"
              },
              {
                "$ref": "#/components/schemas/AeropayAuthSettings"
              },
              {
                "$ref": "#/components/schemas/AkoyaAuthSettings"
              },
              {
                "$ref": "#/components/schemas/AlchemyPayAuthSettings"
              },
              {
                "$ref": "#/components/schemas/ApplePayAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BanxaAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BiliraAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BinanceConnectAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BinancePayAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BlockchainDotComAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BoomFiAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BraintreeAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BraleAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BtcDirectAuthSettings"
              },
              {
                "$ref": "#/components/schemas/CheckoutAuthSettings"
              },
              {
                "$ref": "#/components/schemas/CircleAuthSettings"
              },
              {
                "$ref": "#/components/schemas/CoinFlowAuthSettings"
              },
              {
                "$ref": "#/components/schemas/CoinbasePayAuthSettings"
              },
              {
                "$ref": "#/components/schemas/DueNetworkAuthSettings"
              },
              {
                "$ref": "#/components/schemas/EldoradoAuthSettings"
              },
              {
                "$ref": "#/components/schemas/FinicityAuthSettings"
              },
              {
                "$ref": "#/components/schemas/FonbnkAuthSettings"
              },
              {
                "$ref": "#/components/schemas/GuardarianAuthSettings"
              },
              {
                "$ref": "#/components/schemas/KoyweAuthSettings"
              },
              {
                "$ref": "#/components/schemas/KryptonimAuthSettings"
              },
              {
                "$ref": "#/components/schemas/MercuryoAuthSettings"
              },
              {
                "$ref": "#/components/schemas/MeshAuthSettings"
              },
              {
                "$ref": "#/components/schemas/MoovAuthSettings"
              },
              {
                "$ref": "#/components/schemas/MxAuthSettings"
              },
              {
                "$ref": "#/components/schemas/NoahAuthSettings"
              },
              {
                "$ref": "#/components/schemas/OnRampMoneyAuthSettings"
              },
              {
                "$ref": "#/components/schemas/OnmetaAuthSettings"
              },
              {
                "$ref": "#/components/schemas/PaybisAuthSettings"
              },
              {
                "$ref": "#/components/schemas/PaypalAuthSettings"
              },
              {
                "$ref": "#/components/schemas/PlaidAuthSettings"
              },
              {
                "$ref": "#/components/schemas/RevolutAuthSettings"
              },
              {
                "$ref": "#/components/schemas/RobinhoodAuthSettings"
              },
              {
                "$ref": "#/components/schemas/RouterProtocolAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SaltEdgeAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SaltEdgePartnersAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SardineAuthSettings"
              },
              {
                "$ref": "#/components/schemas/ServiceProviderSharedAuthSettings"
              },
              {
                "$ref": "#/components/schemas/Shift4AuthSettings"
              },
              {
                "$ref": "#/components/schemas/SimplexAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SkrillCryptoAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SquareAuthSettings"
              },
              {
                "$ref": "#/components/schemas/StripeAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SumsubAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SwappedAuthSettings"
              },
              {
                "$ref": "#/components/schemas/TopperAuthSettings"
              },
              {
                "$ref": "#/components/schemas/TransFiAuthSettings"
              },
              {
                "$ref": "#/components/schemas/TransakAuthSettings"
              },
              {
                "$ref": "#/components/schemas/UnlimitAuthSettings"
              },
              {
                "$ref": "#/components/schemas/YellowcardAuthSettings"
              },
              {
                "$ref": "#/components/schemas/YodleeAuthSettings"
              }
            ]
          },
          "configSettings": {
            "description": "Config settings",
            "oneOf": [
              {
                "$ref": "#/components/schemas/AcrossConfigSettings"
              },
              {
                "$ref": "#/components/schemas/AeropayConfigSettings"
              },
              {
                "$ref": "#/components/schemas/AkoyaConfigSettings"
              },
              {
                "$ref": "#/components/schemas/AlchemyPayConfigSettings"
              },
              {
                "$ref": "#/components/schemas/ApplePayConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BanxaConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BiliraConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BinanceConnectConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BinancePayConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BlockchainDotComConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BoomFiConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BraintreeConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BraleConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BtcDirectConfigSettings"
              },
              {
                "$ref": "#/components/schemas/CheckoutConfigSettings"
              },
              {
                "$ref": "#/components/schemas/CircleConfigSettings"
              },
              {
                "$ref": "#/components/schemas/CoinFlowConfigSettings"
              },
              {
                "$ref": "#/components/schemas/CoinbasePayConfigSettings"
              },
              {
                "$ref": "#/components/schemas/DueNetworkConfigSettings"
              },
              {
                "$ref": "#/components/schemas/EldoradoConfigSettings"
              },
              {
                "$ref": "#/components/schemas/FinicityConfigSettings"
              },
              {
                "$ref": "#/components/schemas/FonbnkConfigSettings"
              },
              {
                "$ref": "#/components/schemas/GuardarianConfigSettings"
              },
              {
                "$ref": "#/components/schemas/KoyweConfigSettings"
              },
              {
                "$ref": "#/components/schemas/KryptonimConfigSettings"
              },
              {
                "$ref": "#/components/schemas/MercuryoConfigSettings"
              },
              {
                "$ref": "#/components/schemas/MeshConfigSettings"
              },
              {
                "$ref": "#/components/schemas/MoovConfigSettings"
              },
              {
                "$ref": "#/components/schemas/MxConfigSettings"
              },
              {
                "$ref": "#/components/schemas/NoahConfigSettings"
              },
              {
                "$ref": "#/components/schemas/OnRampMoneyConfigSettings"
              },
              {
                "$ref": "#/components/schemas/OnmetaConfigSettings"
              },
              {
                "$ref": "#/components/schemas/PaybisConfigSettings"
              },
              {
                "$ref": "#/components/schemas/PaypalConfigSettings"
              },
              {
                "$ref": "#/components/schemas/PlaidConfigSettings"
              },
              {
                "$ref": "#/components/schemas/RevolutConfigSettings"
              },
              {
                "$ref": "#/components/schemas/RobinhoodConfigSettings"
              },
              {
                "$ref": "#/components/schemas/RouterProtocolConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SaltEdgeConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SaltEdgePartnersConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SardineConfigSettings"
              },
              {
                "$ref": "#/components/schemas/Shift4ConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SimplexConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SkrillCryptoConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SquareConfigSettings"
              },
              {
                "$ref": "#/components/schemas/StripeConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SumsubConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SwappedConfigSettings"
              },
              {
                "$ref": "#/components/schemas/TopperConfigSettings"
              },
              {
                "$ref": "#/components/schemas/TransFiConfigSettings"
              },
              {
                "$ref": "#/components/schemas/TransakConfigSettings"
              },
              {
                "$ref": "#/components/schemas/UnlimitConfigSettings"
              },
              {
                "$ref": "#/components/schemas/YellowcardConfigSettings"
              },
              {
                "$ref": "#/components/schemas/YodleeConfigSettings"
              }
            ]
          },
          "environment": {
            "type": "string",
            "description": "Service provider's environment",
            "enum": [
              "SANDBOX",
              "DEVELOPMENT",
              "PRODUCTION"
            ]
          },
          "name": {
            "type": "string",
            "description": "Name",
            "minLength": 1
          },
          "serviceProvider": {
            "type": "string",
            "description": "Service provider",
            "enum": [
              "AUTHORIZENET",
              "BANXA",
              "BINANCECONNECT",
              "BRAINTREE",
              "BLOCKCHAINDOTCOM",
              "BTCDIRECT",
              "CHECKOUT",
              "CIRCLE",
              "FINICITY",
              "KOYWE",
              "MOONPAY",
              "MX",
              "NMI",
              "ONRAMPMONEY",
              "PAYBIS",
              "PLAID",
              "RAMP",
              "ROBINHOOD",
              "SARDINE",
              "SIMPLEX",
              "STRIPE",
              "TOPPER",
              "TRANSAK",
              "TRANSFI",
              "UNLIMIT",
              "YODLEE"
            ]
          }
        },
        "required": [
          "authSettings",
          "environment",
          "name",
          "serviceProvider"
        ]
      },
      "DueNetworkAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey"
        ]
      },
      "DueNetworkConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "EldoradoAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "referralId": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "clientId",
          "referralId"
        ]
      },
      "EldoradoConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "FinicityAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "appKey": {
                "type": "string"
              },
              "partnerId": {
                "type": "string"
              },
              "partnerSecret": {
                "type": "string"
              },
              "experienceId": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "appKey",
          "partnerId",
          "partnerSecret"
        ]
      },
      "FinicityConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "loadHistoricalTxsOnInitial": {
                "type": "boolean"
              }
            }
          }
        ],
        "required": [
          "loadHistoricalTxsOnInitial"
        ]
      },
      "FonbnkAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "clientSecret": {
                "type": "string"
              },
              "source": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "clientId",
          "clientSecret",
          "source"
        ]
      },
      "FonbnkConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "callbackBtnText": {
                "type": "string"
              }
            }
          }
        ]
      },
      "GuardarianAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey"
        ]
      },
      "GuardarianConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "KoyweAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "secret": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "clientId",
          "secret"
        ]
      },
      "KoyweConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "KryptonimAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "webhookSecret": {
                "type": "string"
              },
              "signatureSecret": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "signatureSecret",
          "webhookSecret"
        ]
      },
      "KryptonimConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "MercuryoAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "secretKey": {
                "type": "string"
              },
              "signKey": {
                "type": "string"
              },
              "widgetId": {
                "type": "string"
              },
              "sdkPartnerToken": {
                "type": "string"
              },
              "applePayCertificate": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "sdkPartnerToken",
          "secretKey",
          "widgetId"
        ]
      },
      "MercuryoConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "MeshAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "apiKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "clientId"
        ]
      },
      "MeshConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "feePercentage": {
                "type": "string",
                "minLength": 1
              }
            }
          }
        ],
        "required": [
          "feePercentage"
        ]
      },
      "MoovAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "publicKey": {
                "type": "string"
              },
              "privateKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "privateKey",
          "publicKey"
        ]
      },
      "MoovConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "defaultSourceId": {
                "type": "string",
                "minLength": 1
              },
              "defaultDestinationId": {
                "type": "string",
                "minLength": 1
              }
            }
          }
        ],
        "required": [
          "defaultDestinationId",
          "defaultSourceId"
        ]
      },
      "MxAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "apiKey": {
                "type": "string"
              },
              "webhookUsername": {
                "type": "string"
              },
              "webhookPassword": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "clientId"
        ]
      },
      "MxConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "colorScheme": {
                "type": "string",
                "minLength": 1
              }
            }
          }
        ],
        "required": [
          "colorScheme"
        ]
      },
      "NoahAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "requestSigningPrivateKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "requestSigningPrivateKey"
        ]
      },
      "NoahConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "OnRampMoneyAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "apiSecret": {
                "type": "string"
              },
              "appId": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "apiSecret",
          "appId"
        ]
      },
      "OnRampMoneyConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "OnmetaAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "clientSecret": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "clientId",
          "clientSecret"
        ]
      },
      "OnmetaConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "PaybisAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "signatureKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "signatureKey"
        ]
      },
      "PaybisConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "PaypalAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey"
        ]
      },
      "PaypalConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "PlaidAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "clientSecret": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "clientId",
          "clientSecret"
        ]
      },
      "PlaidConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "linkCustomizationEnabled": {
                "type": "boolean"
              }
            }
          }
        ],
        "required": [
          "linkCustomizationEnabled"
        ]
      },
      "RevolutAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey"
        ]
      },
      "RevolutConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "RobinhoodAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "applicationId": {
                "type": "string"
              },
              "apiKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "applicationId"
        ]
      },
      "RobinhoodConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "RouterProtocolAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey"
        ]
      },
      "RouterProtocolConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "SaltEdgeAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "appId": {
                "type": "string"
              },
              "secret": {
                "type": "string"
              },
              "signatureKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "appId",
          "secret"
        ]
      },
      "SaltEdgeConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "SaltEdgePartnersAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "appId": {
                "type": "string"
              },
              "secret": {
                "type": "string"
              },
              "signatureKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "appId",
          "secret"
        ]
      },
      "SaltEdgePartnersConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "SardineAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "clientSecret": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "clientId",
          "clientSecret"
        ]
      },
      "SardineConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "ServiceProviderAuthSettings": {
        "type": "object",
        "discriminator": {
          "propertyName": "type"
        },
        "properties": {
          "shared": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "ServiceProviderConfigSettings": {
        "discriminator": {
          "propertyName": "type"
        },
        "properties": {
          "type": {
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "ServiceProviderSharedAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "serviceProviderAccessProfileId": {
                "type": "string"
              },
              "ownerName": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        ]
      },
      "Shift4AuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "secretKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "secretKey"
        ]
      },
      "Shift4ConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "SimplexAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "publicKey": {
                "type": "string"
              },
              "webhookPublicKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "publicKey",
          "webhookPublicKey"
        ]
      },
      "SimplexConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "providerId": {
                "type": "string",
                "minLength": 1
              },
              "userRefererUrl": {
                "type": "string",
                "minLength": 1
              }
            }
          }
        ],
        "required": [
          "providerId",
          "userRefererUrl"
        ]
      },
      "SkrillCryptoAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "partnerId": {
                "type": "string"
              },
              "secret": {
                "type": "string"
              },
              "partnerName": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "partnerId",
          "partnerName",
          "secret"
        ]
      },
      "SkrillCryptoConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "SquareAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "applicationId": {
                "type": "string"
              },
              "accessToken": {
                "type": "string"
              },
              "clientSecret": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "accessToken",
          "applicationId",
          "clientSecret"
        ]
      },
      "SquareConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "StripeAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "publicKey": {
                "type": "string"
              },
              "secretKey": {
                "type": "string"
              },
              "webhookSecret": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "publicKey",
          "secretKey",
          "webhookSecret"
        ]
      },
      "StripeConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "SumsubAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "appToken": {
                "type": "string"
              },
              "secretKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "appToken",
          "secretKey"
        ]
      },
      "SumsubConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "SwappedAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "publicKey": {
                "type": "string"
              },
              "secretKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "publicKey",
          "secretKey"
        ]
      },
      "SwappedConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "TopperAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "widgetId": {
                "type": "string"
              },
              "keyId": {
                "type": "string"
              },
              "privateKey": {
                "type": "string"
              },
              "webhookPublicKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "keyId",
          "privateKey",
          "webhookPublicKey",
          "widgetId"
        ]
      },
      "TopperConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "partnerName": {
                "type": "string",
                "minLength": 1
              },
              "partnerFeePercentage": {
                "type": "string",
                "minLength": 1
              },
              "topperFlexValue": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "partnerFeePercentage",
          "partnerName"
        ]
      },
      "TransFiAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "merchantId": {
                "type": "string"
              },
              "merchantSecret": {
                "type": "string"
              },
              "webhookSecret": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "merchantId",
          "merchantSecret",
          "webhookSecret"
        ]
      },
      "TransFiConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "TransakAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "apiSecret": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "apiSecret"
        ]
      },
      "TransakConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "referrerDomain": {
                "type": "string",
                "minLength": 1
              }
            }
          }
        ],
        "required": [
          "referrerDomain"
        ]
      },
      "UnlimitAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "apiSecret": {
                "type": "string"
              },
              "partnerAccountId": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "apiSecret",
          "partnerAccountId"
        ]
      },
      "UnlimitConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "backToButtonLabel": {
                "type": "string"
              }
            }
          }
        ]
      },
      "YellowcardAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "secretKey": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "apiKey",
          "secretKey"
        ]
      },
      "YellowcardConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          }
        ]
      },
      "YodleeAuthSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderAuthSettings"
          },
          {
            "type": "object",
            "properties": {
              "clientId": {
                "type": "string"
              },
              "clientSecret": {
                "type": "string"
              },
              "loginName": {
                "type": "string"
              }
            }
          }
        ],
        "required": [
          "clientId",
          "clientSecret",
          "loginName"
        ]
      },
      "YodleeConfigSettings": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderConfigSettings"
          },
          {
            "type": "object",
            "properties": {
              "aggregationConfigName": {
                "type": "string"
              },
              "verificationConfigName": {
                "type": "string"
              },
              "aggregationPlusVerificationConfigName": {
                "type": "string"
              },
              "fastLinkUrl": {
                "type": "string",
                "minLength": 1
              }
            }
          }
        ],
        "required": [
          "fastLinkUrl"
        ]
      },
      "ServiceProviderAccessProfile": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "authSettings": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AcrossAuthSettings"
              },
              {
                "$ref": "#/components/schemas/AeropayAuthSettings"
              },
              {
                "$ref": "#/components/schemas/AkoyaAuthSettings"
              },
              {
                "$ref": "#/components/schemas/AlchemyPayAuthSettings"
              },
              {
                "$ref": "#/components/schemas/ApplePayAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BanxaAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BiliraAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BinanceConnectAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BinancePayAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BlockchainDotComAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BoomFiAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BraintreeAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BraleAuthSettings"
              },
              {
                "$ref": "#/components/schemas/BtcDirectAuthSettings"
              },
              {
                "$ref": "#/components/schemas/CheckoutAuthSettings"
              },
              {
                "$ref": "#/components/schemas/CircleAuthSettings"
              },
              {
                "$ref": "#/components/schemas/CoinFlowAuthSettings"
              },
              {
                "$ref": "#/components/schemas/CoinbasePayAuthSettings"
              },
              {
                "$ref": "#/components/schemas/DueNetworkAuthSettings"
              },
              {
                "$ref": "#/components/schemas/EldoradoAuthSettings"
              },
              {
                "$ref": "#/components/schemas/FinicityAuthSettings"
              },
              {
                "$ref": "#/components/schemas/FonbnkAuthSettings"
              },
              {
                "$ref": "#/components/schemas/GuardarianAuthSettings"
              },
              {
                "$ref": "#/components/schemas/KoyweAuthSettings"
              },
              {
                "$ref": "#/components/schemas/KryptonimAuthSettings"
              },
              {
                "$ref": "#/components/schemas/MercuryoAuthSettings"
              },
              {
                "$ref": "#/components/schemas/MeshAuthSettings"
              },
              {
                "$ref": "#/components/schemas/MoovAuthSettings"
              },
              {
                "$ref": "#/components/schemas/MxAuthSettings"
              },
              {
                "$ref": "#/components/schemas/NoahAuthSettings"
              },
              {
                "$ref": "#/components/schemas/OnRampMoneyAuthSettings"
              },
              {
                "$ref": "#/components/schemas/OnmetaAuthSettings"
              },
              {
                "$ref": "#/components/schemas/PaybisAuthSettings"
              },
              {
                "$ref": "#/components/schemas/PaypalAuthSettings"
              },
              {
                "$ref": "#/components/schemas/PlaidAuthSettings"
              },
              {
                "$ref": "#/components/schemas/RevolutAuthSettings"
              },
              {
                "$ref": "#/components/schemas/RobinhoodAuthSettings"
              },
              {
                "$ref": "#/components/schemas/RouterProtocolAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SaltEdgeAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SaltEdgePartnersAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SardineAuthSettings"
              },
              {
                "$ref": "#/components/schemas/ServiceProviderSharedAuthSettings"
              },
              {
                "$ref": "#/components/schemas/Shift4AuthSettings"
              },
              {
                "$ref": "#/components/schemas/SimplexAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SkrillCryptoAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SquareAuthSettings"
              },
              {
                "$ref": "#/components/schemas/StripeAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SumsubAuthSettings"
              },
              {
                "$ref": "#/components/schemas/SwappedAuthSettings"
              },
              {
                "$ref": "#/components/schemas/TopperAuthSettings"
              },
              {
                "$ref": "#/components/schemas/TransFiAuthSettings"
              },
              {
                "$ref": "#/components/schemas/TransakAuthSettings"
              },
              {
                "$ref": "#/components/schemas/UnlimitAuthSettings"
              },
              {
                "$ref": "#/components/schemas/YellowcardAuthSettings"
              },
              {
                "$ref": "#/components/schemas/YodleeAuthSettings"
              }
            ]
          },
          "configSettings": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AcrossConfigSettings"
              },
              {
                "$ref": "#/components/schemas/AeropayConfigSettings"
              },
              {
                "$ref": "#/components/schemas/AkoyaConfigSettings"
              },
              {
                "$ref": "#/components/schemas/AlchemyPayConfigSettings"
              },
              {
                "$ref": "#/components/schemas/ApplePayConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BanxaConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BiliraConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BinanceConnectConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BinancePayConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BlockchainDotComConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BoomFiConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BraintreeConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BraleConfigSettings"
              },
              {
                "$ref": "#/components/schemas/BtcDirectConfigSettings"
              },
              {
                "$ref": "#/components/schemas/CheckoutConfigSettings"
              },
              {
                "$ref": "#/components/schemas/CircleConfigSettings"
              },
              {
                "$ref": "#/components/schemas/CoinFlowConfigSettings"
              },
              {
                "$ref": "#/components/schemas/CoinbasePayConfigSettings"
              },
              {
                "$ref": "#/components/schemas/DueNetworkConfigSettings"
              },
              {
                "$ref": "#/components/schemas/EldoradoConfigSettings"
              },
              {
                "$ref": "#/components/schemas/FinicityConfigSettings"
              },
              {
                "$ref": "#/components/schemas/FonbnkConfigSettings"
              },
              {
                "$ref": "#/components/schemas/GuardarianConfigSettings"
              },
              {
                "$ref": "#/components/schemas/KoyweConfigSettings"
              },
              {
                "$ref": "#/components/schemas/KryptonimConfigSettings"
              },
              {
                "$ref": "#/components/schemas/MercuryoConfigSettings"
              },
              {
                "$ref": "#/components/schemas/MeshConfigSettings"
              },
              {
                "$ref": "#/components/schemas/MoovConfigSettings"
              },
              {
                "$ref": "#/components/schemas/MxConfigSettings"
              },
              {
                "$ref": "#/components/schemas/NoahConfigSettings"
              },
              {
                "$ref": "#/components/schemas/OnRampMoneyConfigSettings"
              },
              {
                "$ref": "#/components/schemas/OnmetaConfigSettings"
              },
              {
                "$ref": "#/components/schemas/PaybisConfigSettings"
              },
              {
                "$ref": "#/components/schemas/PaypalConfigSettings"
              },
              {
                "$ref": "#/components/schemas/PlaidConfigSettings"
              },
              {
                "$ref": "#/components/schemas/RevolutConfigSettings"
              },
              {
                "$ref": "#/components/schemas/RobinhoodConfigSettings"
              },
              {
                "$ref": "#/components/schemas/RouterProtocolConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SaltEdgeConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SaltEdgePartnersConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SardineConfigSettings"
              },
              {
                "$ref": "#/components/schemas/Shift4ConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SimplexConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SkrillCryptoConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SquareConfigSettings"
              },
              {
                "$ref": "#/components/schemas/StripeConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SumsubConfigSettings"
              },
              {
                "$ref": "#/components/schemas/SwappedConfigSettings"
              },
              {
                "$ref": "#/components/schemas/TopperConfigSettings"
              },
              {
                "$ref": "#/components/schemas/TransFiConfigSettings"
              },
              {
                "$ref": "#/components/schemas/TransakConfigSettings"
              },
              {
                "$ref": "#/components/schemas/UnlimitConfigSettings"
              },
              {
                "$ref": "#/components/schemas/YellowcardConfigSettings"
              },
              {
                "$ref": "#/components/schemas/YodleeConfigSettings"
              }
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "SANDBOX",
              "DEVELOPMENT",
              "PRODUCTION"
            ]
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "ownerProfileName": {
            "type": "string"
          },
          "preparing": {
            "type": "boolean"
          },
          "serviceProvider": {
            "type": "string",
            "enum": [
              "AUTHORIZENET",
              "BANXA",
              "BINANCECONNECT",
              "BRAINTREE",
              "BLOCKCHAINDOTCOM",
              "BTCDIRECT",
              "CHECKOUT",
              "CIRCLE",
              "FINICITY",
              "KOYWE",
              "MOONPAY",
              "MX",
              "NMI",
              "ONRAMPMONEY",
              "PAYBIS",
              "PLAID",
              "RAMP",
              "ROBINHOOD",
              "SARDINE",
              "SIMPLEX",
              "STRIPE",
              "TOPPER",
              "TRANSAK",
              "TRANSFI",
              "UNLIMIT",
              "YODLEE"
            ]
          },
          "status": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedBy": {
            "type": "string"
          }
        }
      },
      "BankLinkingPreference": {
        "type": "object",
        "properties": {
          "accountLogoUrl": {
            "type": "string",
            "description": "The path to the account's logo for displaying in the bank picker"
          },
          "borderColor": {
            "type": "string",
            "description": "The color of the border for the bank picker"
          },
          "borderTextColor": {
            "type": "string",
            "description": "The color of the text on the bank picker border (i.e. 'Integrations powered by Meld.io')"
          },
          "font": {
            "type": "string",
            "description": "The desired font to use for the Meld picker"
          },
          "institutionSelectionText": {
            "type": "string",
            "description": "The text to display at the top of bank picker",
            "example": "Select your institution"
          },
          "routingRetry": {
            "type": "boolean",
            "description": "Whether to present the option to try to connect to the institution again with a different service provider if the last attempt failed. If a value is not set, it is assumed to be false."
          },
          "routingRetryBankButtonColor": {
            "type": "string",
            "description": "The color of the routing retry button to select a different institution"
          },
          "routingRetryProviderButtonColor": {
            "type": "string",
            "description": "The color of the routing retry button to select a different provider"
          },
          "selectionStyle": {
            "type": "string",
            "description": "The style in which the bank picker displays the institutions",
            "enum": [
              "LIST",
              "TILE"
            ]
          },
          "showBorder": {
            "type": "boolean",
            "description": "Whether to show the border for the bank picker widget. If a value is not set, it is assumed to be false."
          }
        }
      },
      "CreatePreferenceRequest": {
        "type": "object",
        "properties": {
          "preference": {
            "$ref": "#/components/schemas/Preference"
          },
          "type": {
            "type": "string",
            "description": "Type of preference to create for this account.<p><b><i>Note:</i></b> Only one preference of each type can exist. To edit an existing preference, use the Update an account preference endpoint instead</p>",
            "enum": [
              "CRYPTO",
              "BANK_LINKING"
            ],
            "minLength": 1
          }
        },
        "required": [
          "preference",
          "type"
        ]
      },
      "CryptoPreference": {
        "type": "object",
        "properties": {
          "accountLogoUrl": {
            "type": "string",
            "description": "The path to the account's logo for displaying in the wizard"
          },
          "borderColor": {
            "type": "string",
            "description": "The color of the border for the wizard"
          },
          "borderTextColor": {
            "type": "string",
            "description": "The color of the text on the wizard border (i.e. 'Integrations powered by Meld.io')"
          },
          "buttonColor": {
            "type": "string",
            "description": "The button color for the widget in light mode"
          },
          "buttonTextColor": {
            "type": "string",
            "description": "The color of the Buy/Sell text on the CTA button"
          },
          "enableMeldCryptoWizard": {
            "type": "boolean",
            "description": "Whether to enable the Meld crypto wizard functionality. If a value is not set, it defaults to false."
          },
          "hideBackButton": {
            "type": "boolean",
            "description": "Whether to hide the back button in the crypto widget. If a value is not set, it is assumed to be false."
          },
          "maxQuotes": {
            "type": "integer",
            "format": "int32",
            "description": " The maximum number of quotes to return"
          },
          "notes": {
            "type": "string",
            "description": "Any notes for this account."
          },
          "offrampEnabled": {
            "type": "boolean",
            "description": "Should offramp behavior be enabled where supported. If a value is not set, it is assumed to be false."
          },
          "offrampSwapEnabled": {
            "type": "boolean",
            "description": "Should offramp+swap behavior be enabled where supported. If a value is not set, it is assumed to be false."
          },
          "onrampEnabled": {
            "type": "boolean",
            "description": "Should onramp behavior be enabled where supported. If a value is not set, it is assumed to be false."
          },
          "onrampSwapEnabled": {
            "type": "boolean",
            "description": "Should onramp+swap behavior be enabled where supported. If a value is not set, it is assumed to be false."
          },
          "returnUrl": {
            "type": "string",
            "description": "The crypto return url"
          },
          "showAccountLogoOnTop": {
            "type": "boolean",
            "description": "Should display account's logo in the top middle of widget border"
          },
          "standardPartnerFee": {
            "type": "number",
            "description": "The standard preferred partner fee for this account.  This is informational rather than authoritative."
          },
          "topServiceProviders": {
            "type": "array",
            "description": "The top service provider's for the wizard quote screen",
            "items": {
              "type": "string",
              "enum": [
                "ACROSS",
                "AEROPAY",
                "AKOYA",
                "ALCHEMYPAY",
                "APPLEPAY",
                "AUTHORIZENET",
                "BANXA",
                "BILIRA",
                "BINANCECONNECT",
                "BINANCEPAY",
                "BLOCKCHAINDOTCOM",
                "BOOMFI",
                "BRAINTREE",
                "BRALE",
                "BTCDIRECT",
                "CASHAPP",
                "CHECKOUT",
                "CIRCLE",
                "COINBASEPAY",
                "COINFLOW",
                "DUENETWORK",
                "ELDORADO",
                "FINICITY",
                "FONBNK",
                "GUARDARIAN",
                "HARBOUR",
                "KOYWE",
                "KRYPTONIM",
                "MERCURYO",
                "MESH",
                "MESO",
                "MOONPAY",
                "MOOV",
                "MX",
                "NMI",
                "NOAH",
                "ONMETA",
                "ONRAMPMONEY",
                "PAYBIS",
                "PAYPAL",
                "PLAID",
                "RAMP",
                "REVOLUT",
                "ROBINHOOD",
                "ROUTERPROTOCOL",
                "SALTEDGE",
                "SALTEDGEPARTNERS",
                "SARDINE",
                "SHIFT4",
                "SHOPIFY",
                "SIMPLEX",
                "SKRILLCRYPTO",
                "SQUARE",
                "STRIPE",
                "SUMSUB",
                "SWAPPED",
                "TANGOCARD",
                "TELLER",
                "TOPPER",
                "TRANSAK",
                "TREMENDOUS",
                "TRANSFI",
                "UNLIMIT",
                "WYRE",
                "XANPOOL",
                "YELLOWCARD",
                "YODLEE"
              ]
            }
          },
          "widgetUrl": {
            "type": "string",
            "description": "The crypto widget url"
          }
        }
      },
      "KycPreference": {
        "type": "object",
        "properties": {
          "enableKycTokenImport": {
            "type": "boolean",
            "description": "Whether the imported token will be used to import KYC applicant to Meld's KYC provider account (TRUE) or will be passed to network partners as is (FALSE)"
          }
        }
      },
      "Preference": {
        "description": "The preference details",
        "oneOf": [
          {
            "$ref": "#/components/schemas/CryptoPreference"
          },
          {
            "$ref": "#/components/schemas/BankLinkingPreference"
          },
          {
            "$ref": "#/components/schemas/KycPreference"
          }
        ]
      },
      "AccountPreferenceResponse": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account id"
          },
          "preference": {
            "$ref": "#/components/schemas/Preference"
          },
          "status": {
            "type": "string",
            "description": "Status of this typed preference belonging to the account",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          },
          "type": {
            "type": "string",
            "description": "Type of preference to create for this account",
            "enum": [
              "CRYPTO",
              "BANK_LINKING",
              "FIAT",
              "KYC"
            ]
          }
        }
      },
      "CreateApiAccessProfileRequest": {
        "type": "object",
        "properties": {
          "defaultVersion": {
            "type": "string",
            "description": "Default version for all API requests"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "minLength": 1
          },
          "permissions": {
            "type": "array",
            "description": "Set of permissions",
            "items": {
              "type": "string",
              "enum": [
                "CROSS_ENVIRONMENT_ACCOUNT_MODIFY",
                "CROSS_ENVIRONMENT_AUTH",
                "CRYPTO_SESSION_CREATE",
                "CONSENSYS_PUBLIC",
                "CONSENSYS_PRIVATE",
                "CUSTOMER_VIEW",
[...]
