{
  "openapi": "3.1.0",
  "info": {
    "title": "SERVICE PROVIDERS",
    "termsOfService": "urn:tos",
    "license": {
      "name": "Apache 2.0",
      "url": "https://springdoc.org"
    },
    "version": "unversioned",
    "description": ""
  },
  "servers": [
    {
      "url": "https://api-sb.meld.io",
      "description": "Meld API sandbox"
    },
    {
      "url": "https://api.meld.io",
      "description": "Meld API production"
    }
  ],
  "paths": {
    "/service-providers": {
      "get": {
        "tags": [
          "Service Provider"
        ],
        "summary": "Search service providers",
        "description": "Returns a list of service providers which meet the search criteria.",
        "operationId": "service-providers-search",
        "parameters": [
          {
            "name": "serviceProviders",
            "in": "query",
            "description": "A comma separated list of service providers.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "A comma separated list of service provider statuses. Valid values are: LIVE,RECENTLY_ADDED,BUILDING",
            "required": false,
            "schema": {
              "type": "string",
              "default": "LIVE,RECENTLY_ADDED"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "A comma separated list of service provider categories. Valid values are: BANK_LINKING,CRYPTO_OFFRAMP,CRYPTO_ONRAMP,CRYPTO_TRANSFER,CRYPTO_VIRTUAL_ACCOUNT_OFFRAMP,CRYPTO_VIRTUAL_ACCOUNT_ONRAMP,FIAT_PAYMENTS. Note: CRYPTO_ONRAMP_SWAP and CRYPTO_OFFRAMP_SWAP are server-driven and cannot be requested directly.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountFilter",
            "in": "query",
            "description": "Filter by account configuration. Will only include properties supported by the service providers configured for the account of the API authentication token used.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "A comma separated list of countries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fiatCurrencies",
            "in": "query",
            "description": "A comma separated list of fiat currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoChains",
            "in": "query",
            "description": "A comma separated list of crypto chains.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoCurrencies",
            "in": "query",
            "description": "A comma separated list of crypto currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodTypes",
            "in": "query",
            "description": "A comma separated list of payment method types. Valid Values are: <a href=\"https://docs.meld.io/docs/supported-payment-methods\">Supported Payment Methods</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search successful",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceProvider20231122"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/service-providers/properties/countries": {
      "get": {
        "tags": [
          "Service Provider"
        ],
        "summary": "Search countries",
        "description": "Returns a list of properties which meet the search criteria.",
        "operationId": "service-providers-properties-country-search",
        "parameters": [
          {
            "name": "serviceProviders",
            "in": "query",
            "description": "A comma separated list of service providers.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "A comma separated list of service provider statuses. Valid values are: LIVE,RECENTLY_ADDED,BUILDING",
            "required": false,
            "schema": {
              "type": "string",
              "default": "LIVE,RECENTLY_ADDED"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "A comma separated list of service provider categories. Valid values are: BANK_LINKING,CRYPTO_OFFRAMP,CRYPTO_ONRAMP,CRYPTO_TRANSFER,CRYPTO_VIRTUAL_ACCOUNT_OFFRAMP,CRYPTO_VIRTUAL_ACCOUNT_ONRAMP,FIAT_PAYMENTS. Note: CRYPTO_ONRAMP_SWAP and CRYPTO_OFFRAMP_SWAP are server-driven and cannot be requested directly.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountFilter",
            "in": "query",
            "description": "Filter by account configuration. Will only include properties supported by the service providers configured for the account of the API authentication token used.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "A comma separated list of countries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fiatCurrencies",
            "in": "query",
            "description": "A comma separated list of fiat currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoChains",
            "in": "query",
            "description": "A comma separated list of crypto chains.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoCurrencies",
            "in": "query",
            "description": "A comma separated list of crypto currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodTypes",
            "in": "query",
            "description": "A comma separated list of payment method types. Valid Values are: <a href=\"https://docs.meld.io/docs/supported-payment-methods\">Supported Payment Methods</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeServiceProviderDetails",
            "in": "query",
            "description": "When true, includes the service provider coverage and mappings for each property in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search successful",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country20231122"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/service-providers/properties/crypto-currencies": {
      "get": {
        "tags": [
          "Service Provider"
        ],
        "summary": "Search crypto currencies",
        "description": "Returns a list of properties which meet the search criteria.",
        "operationId": "service-providers-properties-crypto-currency-search",
        "parameters": [
          {
            "name": "serviceProviders",
            "in": "query",
            "description": "A comma separated list of service providers.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "A comma separated list of service provider statuses. Valid values are: LIVE,RECENTLY_ADDED,BUILDING",
            "required": false,
            "schema": {
              "type": "string",
              "default": "LIVE,RECENTLY_ADDED"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "A comma separated list of service provider categories. Valid values are: BANK_LINKING,CRYPTO_OFFRAMP,CRYPTO_ONRAMP,CRYPTO_TRANSFER,CRYPTO_VIRTUAL_ACCOUNT_OFFRAMP,CRYPTO_VIRTUAL_ACCOUNT_ONRAMP,FIAT_PAYMENTS. Note: CRYPTO_ONRAMP_SWAP and CRYPTO_OFFRAMP_SWAP are server-driven and cannot be requested directly.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountFilter",
            "in": "query",
            "description": "Filter by account configuration. Will only include properties supported by the service providers configured for the account of the API authentication token used.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "A comma separated list of countries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fiatCurrencies",
            "in": "query",
            "description": "A comma separated list of fiat currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoChains",
            "in": "query",
            "description": "A comma separated list of crypto chains.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoCurrencies",
            "in": "query",
            "description": "A comma separated list of crypto currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodTypes",
            "in": "query",
            "description": "A comma separated list of payment method types. Valid Values are: <a href=\"https://docs.meld.io/docs/supported-payment-methods\">Supported Payment Methods</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeServiceProviderDetails",
            "in": "query",
            "description": "When true, includes the service provider coverage and mappings for each property in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search successful",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CryptoCurrency20231122"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/service-providers/properties/defaults/by-country": {
      "get": {
        "tags": [
          "Service Provider"
        ],
        "summary": "Search defaults by country",
        "description": "Returns a list of default fiat currencies and payment methods per country.",
        "operationId": "service-providers-properties-defaults-by-country-search",
        "parameters": [
          {
            "name": "accountFilter",
            "in": "query",
            "description": "Filter by account configuration. Will only include properties supported by the service providers configured for the account of the API authentication token used.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "A comma separated list of countries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "A comma separated list of service provider categories. Valid values are: BANK_LINKING,CRYPTO_OFFRAMP,CRYPTO_ONRAMP,CRYPTO_TRANSFER,CRYPTO_VIRTUAL_ACCOUNT_OFFRAMP,CRYPTO_VIRTUAL_ACCOUNT_ONRAMP,FIAT_PAYMENTS. Note: CRYPTO_ONRAMP_SWAP and CRYPTO_OFFRAMP_SWAP are server-driven and cannot be requested directly.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search successful",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DefaultsPerCountry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/service-providers/properties/fiat-currencies": {
      "get": {
        "tags": [
          "Service Provider"
        ],
        "summary": "Search fiat currencies",
        "description": "Returns a list of properties which meet the search criteria.",
        "operationId": "service-providers-properties-fiat-currency-search",
        "parameters": [
          {
            "name": "serviceProviders",
            "in": "query",
            "description": "A comma separated list of service providers.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "A comma separated list of service provider statuses. Valid values are: LIVE,RECENTLY_ADDED,BUILDING",
            "required": false,
            "schema": {
              "type": "string",
              "default": "LIVE,RECENTLY_ADDED"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "A comma separated list of service provider categories. Valid values are: BANK_LINKING,CRYPTO_OFFRAMP,CRYPTO_ONRAMP,CRYPTO_TRANSFER,CRYPTO_VIRTUAL_ACCOUNT_OFFRAMP,CRYPTO_VIRTUAL_ACCOUNT_ONRAMP,FIAT_PAYMENTS. Note: CRYPTO_ONRAMP_SWAP and CRYPTO_OFFRAMP_SWAP are server-driven and cannot be requested directly.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountFilter",
            "in": "query",
            "description": "Filter by account configuration. Will only include properties supported by the service providers configured for the account of the API authentication token used.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "A comma separated list of countries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fiatCurrencies",
            "in": "query",
            "description": "A comma separated list of fiat currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoChains",
            "in": "query",
            "description": "A comma separated list of crypto chains.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoCurrencies",
            "in": "query",
            "description": "A comma separated list of crypto currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodTypes",
            "in": "query",
            "description": "A comma separated list of payment method types. Valid Values are: <a href=\"https://docs.meld.io/docs/supported-payment-methods\">Supported Payment Methods</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeServiceProviderDetails",
            "in": "query",
            "description": "When true, includes the service provider coverage and mappings for each property in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search successful",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FiatCurrency20231122"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/service-providers/properties/payment-methods": {
      "get": {
        "tags": [
          "Service Provider"
        ],
        "summary": "Search payment methods",
        "description": "Returns a list of properties which meet the search criteria.",
        "operationId": "service-providers-properties-payment-method-search",
        "parameters": [
          {
            "name": "serviceProviders",
            "in": "query",
            "description": "A comma separated list of service providers.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "A comma separated list of service provider statuses. Valid values are: LIVE,RECENTLY_ADDED,BUILDING",
            "required": false,
            "schema": {
              "type": "string",
              "default": "LIVE,RECENTLY_ADDED"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "A comma separated list of service provider categories. Valid values are: BANK_LINKING,CRYPTO_OFFRAMP,CRYPTO_ONRAMP,CRYPTO_TRANSFER,CRYPTO_VIRTUAL_ACCOUNT_OFFRAMP,CRYPTO_VIRTUAL_ACCOUNT_ONRAMP,FIAT_PAYMENTS. Note: CRYPTO_ONRAMP_SWAP and CRYPTO_OFFRAMP_SWAP are server-driven and cannot be requested directly.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountFilter",
            "in": "query",
            "description": "Filter by account configuration. Will only include properties supported by the service providers configured for the account of the API authentication token used.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "A comma separated list of countries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fiatCurrencies",
            "in": "query",
            "description": "A comma separated list of fiat currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoChains",
            "in": "query",
            "description": "A comma separated list of crypto chains.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoCurrencies",
            "in": "query",
            "description": "A comma separated list of crypto currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodTypes",
            "in": "query",
            "description": "A comma separated list of payment method types. Valid Values are: <a href=\"https://docs.meld.io/docs/supported-payment-methods\">Supported Payment Methods</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeServiceProviderDetails",
            "in": "query",
            "description": "When true, includes the service provider coverage and mappings for each property in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search successful",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethod20240427"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/service-providers/limits/crypto-currency-sells": {
      "get": {
        "tags": [
          "Service Provider"
        ],
        "summary": "Get crypto sell limits for crypto currencies",
        "description": "Returns a list of limits (minimums and maximums) in terms of crypto tokens for selling crypto.",
        "operationId": "service-providers-limits-crypto-currency-sells-get",
        "parameters": [
          {
            "name": "serviceProviders",
            "in": "query",
            "description": "A comma separated list of service providers.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "A comma separated list of service provider statuses. Valid values are: LIVE,RECENTLY_ADDED,BUILDING",
            "required": false,
            "schema": {
              "type": "string",
              "default": "LIVE,RECENTLY_ADDED"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "A comma separated list of service provider categories. Valid values are: BANK_LINKING,CRYPTO_OFFRAMP,CRYPTO_ONRAMP,CRYPTO_TRANSFER,CRYPTO_VIRTUAL_ACCOUNT_OFFRAMP,CRYPTO_VIRTUAL_ACCOUNT_ONRAMP,FIAT_PAYMENTS. Note: CRYPTO_ONRAMP_SWAP and CRYPTO_OFFRAMP_SWAP are server-driven and cannot be requested directly.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountFilter",
            "in": "query",
            "description": "Filter by account configuration. Will only include properties supported by the service providers configured for the account of the API authentication token used.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "A comma separated list of countries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fiatCurrencies",
            "in": "query",
            "description": "A comma separated list of fiat currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoChains",
            "in": "query",
            "description": "A comma separated list of crypto chains.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoCurrencies",
            "in": "query",
            "description": "A comma separated list of crypto currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodTypes",
            "in": "query",
            "description": "A comma separated list of payment method types. Valid Values are: <a href=\"https://docs.meld.io/docs/supported-payment-methods\">Supported Payment Methods</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDetails",
            "in": "query",
            "description": "When true, includes details about any account, Meld, and/or service provider limits used for each limit in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Limits returned",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CryptoCurrencySellLimit"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/service-providers/limits/fiat-currency-purchases": {
      "get": {
        "tags": [
          "Service Provider"
        ],
        "summary": "Get crypto purchase limits for fiat currencies",
        "description": "Returns a list of limits (minimums and maximums) in terms of fiat currencies tokens for buying crypto.",
        "operationId": "service-providers-limits-fiat-currency-purchase-get",
        "parameters": [
          {
            "name": "serviceProviders",
            "in": "query",
            "description": "A comma separated list of service providers.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "A comma separated list of service provider statuses. Valid values are: LIVE,RECENTLY_ADDED,BUILDING",
            "required": false,
            "schema": {
              "type": "string",
              "default": "LIVE,RECENTLY_ADDED"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "A comma separated list of service provider categories. Valid values are: BANK_LINKING,CRYPTO_OFFRAMP,CRYPTO_ONRAMP,CRYPTO_TRANSFER,CRYPTO_VIRTUAL_ACCOUNT_OFFRAMP,CRYPTO_VIRTUAL_ACCOUNT_ONRAMP,FIAT_PAYMENTS. Note: CRYPTO_ONRAMP_SWAP and CRYPTO_OFFRAMP_SWAP are server-driven and cannot be requested directly.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountFilter",
            "in": "query",
            "description": "Filter by account configuration. Will only include properties supported by the service providers configured for the account of the API authentication token used.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "A comma separated list of countries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fiatCurrencies",
            "in": "query",
            "description": "A comma separated list of fiat currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoChains",
            "in": "query",
            "description": "A comma separated list of crypto chains.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoCurrencies",
            "in": "query",
            "description": "A comma separated list of crypto currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodTypes",
            "in": "query",
            "description": "A comma separated list of payment method types. Valid Values are: <a href=\"https://docs.meld.io/docs/supported-payment-methods\">Supported Payment Methods</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDetails",
            "in": "query",
            "description": "When true, includes details about any account, Meld, and/or service provider limits used for each limit in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Limits returned",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FiatCurrencyPurchaseLimit20231122"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/service-providers/limits/kyc-fiat-levels": {
      "get": {
        "tags": [
          "Service Provider"
        ],
        "summary": "Get KYC levels for fiat currencies",
        "description": "Returns a list of KYC limits in terms of fiat currencies tokens for buying crypto.",
        "operationId": "service-providers-limits-kyc-fiat-level-get",
        "parameters": [
          {
            "name": "serviceProviders",
            "in": "query",
            "description": "A comma separated list of service providers.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "A comma separated list of service provider statuses. Valid values are: LIVE,RECENTLY_ADDED,BUILDING",
            "required": false,
            "schema": {
              "type": "string",
              "default": "LIVE,RECENTLY_ADDED"
            }
          },
          {
            "name": "categories",
            "in": "query",
            "description": "A comma separated list of service provider categories. Valid values are: BANK_LINKING,CRYPTO_OFFRAMP,CRYPTO_ONRAMP,CRYPTO_TRANSFER,CRYPTO_VIRTUAL_ACCOUNT_OFFRAMP,CRYPTO_VIRTUAL_ACCOUNT_ONRAMP,FIAT_PAYMENTS. Note: CRYPTO_ONRAMP_SWAP and CRYPTO_OFFRAMP_SWAP are server-driven and cannot be requested directly.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountFilter",
            "in": "query",
            "description": "Filter by account configuration. Will only include properties supported by the service providers configured for the account of the API authentication token used.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "A comma separated list of countries.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fiatCurrencies",
            "in": "query",
            "description": "A comma separated list of fiat currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoChains",
            "in": "query",
            "description": "A comma separated list of crypto chains.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cryptoCurrencies",
            "in": "query",
            "description": "A comma separated list of crypto currencies.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentMethodTypes",
            "in": "query",
            "description": "A comma separated list of payment method types. Valid Values are: <a href=\"https://docs.meld.io/docs/supported-payment-methods\">Supported Payment Methods</a>",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDetails",
            "in": "query",
            "description": "When true, includes details about any account, Meld, and/or service provider limits used for each limit in the response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Limits returned",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KycFiatLevel20231122"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request : check request values and format"
          },
          "401": {
            "description": "Invalid credentials"
          },
          "403": {
            "description": "Unauthenticated or authenticated with insufficient access"
          },
          "500": {
            "description": "Server Error. This applies to all 5xx errors, including but not limited to 500, 501, 502, 503, and 504 errors. You should treat all of these errors the same."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ListServiceProviderPreference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderPreference"
          },
          {
            "type": "object",
            "properties": {
              "serviceProviders": {
                "type": "array",
                "description": "List of service providers",
                "items": {
                  "type": "string",
                  "enum": [
                    "AEROPAY",
                    "AKOYA",
                    "ALCHEMYPAY",
                    "APPLEPAY",
                    "AUTHORIZENET",
                    "BANXA",
                    "BILIRA",
                    "BINANCECONNECT",
                    "BINANCEPAY",
                    "BLOCKCHAINDOTCOM",
                    "BOOMFI",
                    "BRAINTREE",
                    "BRALE",
                    "BTCDIRECT",
                    "CASHAPP",
                    "CHECKOUT",
                    "CIRCLE",
                    "COINBASEPAY",
                    "COINFLOW",
                    "DUENETWORK",
                    "ELDORADO",
                    "FINICITY",
                    "FONBNK",
                    "GUARDARIAN",
                    "HARBOUR",
                    "KOYWE",
                    "KRYPTONIM",
                    "MERCURYO",
                    "MESH",
                    "MESO",
                    "MOONPAY",
                    "MOOV",
                    "MX",
                    "NMI",
                    "NOAH",
                    "ONMETA",
                    "ONRAMPMONEY",
                    "PAYBIS",
                    "PAYPAL",
                    "PLAID",
                    "RAMP",
                    "REVOLUT",
                    "ROBINHOOD",
                    "ROUTERPROTOCOL",
                    "SALTEDGE",
                    "SALTEDGEPARTNERS",
                    "SARDINE",
                    "SHIFT4",
                    "SHOPIFY",
                    "SIMPLEX",
                    "SKRILLCRYPTO",
                    "SQUARE",
                    "STRIPE",
                    "SUMSUB",
                    "SWAPPED",
                    "TANGOCARD",
                    "TELLER",
                    "TOPPER",
                    "TRANSAK",
                    "TREMENDOUS",
                    "TRANSFI",
                    "UNLIMIT",
                    "WYRE",
                    "XANPOOL",
                    "YELLOWCARD",
                    "YODLEE"
                  ]
                },
                "minItems": 1
              }
            }
          }
        ],
        "description": "Preference when algorithm is: ORDERED",
        "required": [
          "algorithm",
          "serviceProviders"
        ]
      },
      "MultipleValueRoutingCondition": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RoutingCondition"
          },
          {
            "type": "object",
            "properties": {
              "values": {
                "type": "array",
                "description": "Values",
                "items": {
                  "type": "string"
                },
                "minItems": 1
              }
            }
          }
        ],
        "description": "Condition when operator is: CONTAINS_ALL,CONTAINS_ANY,CONTAINS_NONE,IN,NOT_IN",
        "required": [
          "operator",
          "values",
          "variable"
        ]
      },
      "OptionalListServiceProviderPreference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderPreference"
          },
          {
            "type": "object",
            "properties": {
              "serviceProviders": {
                "type": "array",
                "description": "List of service providers. If not defined or empty, all applicable service providers are used",
                "items": {
                  "type": "string",
                  "enum": [
                    "AEROPAY",
                    "AKOYA",
                    "ALCHEMYPAY",
                    "APPLEPAY",
                    "AUTHORIZENET",
                    "BANXA",
                    "BILIRA",
                    "BINANCECONNECT",
                    "BINANCEPAY",
                    "BLOCKCHAINDOTCOM",
                    "BOOMFI",
                    "BRAINTREE",
                    "BRALE",
                    "BTCDIRECT",
                    "CASHAPP",
                    "CHECKOUT",
                    "CIRCLE",
                    "COINBASEPAY",
                    "COINFLOW",
                    "DUENETWORK",
                    "ELDORADO",
                    "FINICITY",
                    "FONBNK",
                    "GUARDARIAN",
                    "HARBOUR",
                    "KOYWE",
                    "KRYPTONIM",
                    "MERCURYO",
                    "MESH",
                    "MESO",
                    "MOONPAY",
                    "MOOV",
                    "MX",
                    "NMI",
                    "NOAH",
                    "ONMETA",
                    "ONRAMPMONEY",
                    "PAYBIS",
                    "PAYPAL",
                    "PLAID",
                    "RAMP",
                    "REVOLUT",
                    "ROBINHOOD",
                    "ROUTERPROTOCOL",
                    "SALTEDGE",
                    "SALTEDGEPARTNERS",
                    "SARDINE",
                    "SHIFT4",
                    "SHOPIFY",
                    "SIMPLEX",
                    "SKRILLCRYPTO",
                    "SQUARE",
                    "STRIPE",
                    "SUMSUB",
                    "SWAPPED",
                    "TANGOCARD",
                    "TELLER",
                    "TOPPER",
                    "TRANSAK",
                    "TREMENDOUS",
                    "TRANSFI",
                    "UNLIMIT",
                    "WYRE",
                    "XANPOOL",
                    "YELLOWCARD",
                    "YODLEE"
                  ]
                }
              }
            }
          }
        ],
        "description": "Preference when algorithm is: EQUAL_DISTRIBUTION,HEALTH,PREFER_OAUTH",
        "required": [
          "algorithm"
        ]
      },
      "RoutingCondition": {
        "type": "object",
        "description": "This is polymorphic based on the operator:<ul><li>CONTAINS - SingleValueRoutingCondition</li><li>CONTAINS_ALL - MultipleValueRoutingCondition</li><li>CONTAINS_ANY - MultipleValueRoutingCondition</li><li>CONTAINS_NONE - MultipleValueRoutingCondition</li><li>GREATER_THAN - SingleValueRoutingCondition</li><li>GREATER_THAN_EQUALS - SingleValueRoutingCondition</li><li>IN - MultipleValueRoutingCondition</li><li>LESS_THAN - SingleValueRoutingCondition</li><li>LESS_THAN_EQUALS - SingleValueRoutingCondition</li><li>NOT_CONTAINS - SingleValueRoutingCondition</li><li>NOT_IN - MultipleValueRoutingCondition</li></ul><p>Variable value formats:<ul><li>SOURCE_AMOUNT - &lt;3-character currency code&gt;&lt;space&gt;&lt;numeric amount&gt;<br>examples: USD 100, CAD 123.45</li><br><li>INSTITUTION_ID - &lt;id&gt;<br>examples: Ntj3AwgdridJc2rtfeheku, 29KL1L2iYUV3zUCoSHhwvr</li><br><li>COUNTRY_CODE - &lt;2-character country code&gt;<br>examples: US, CA</li><br><li>PAYMENT_METHOD_TYPE - &lt;payment method&gt;<br>examples: VISA, APPLE_PAY</li></ul>",
        "discriminator": {
          "propertyName": "operator"
        },
        "properties": {
          "operator": {
            "type": "string",
            "description": "Operator",
            "enum": [
              "IN",
              "NOT_IN",
              "CONTAINS",
              "NOT_CONTAINS",
              "CONTAINS_ALL",
              "CONTAINS_ANY",
              "CONTAINS_NONE",
              "GREATER_THAN",
              "GREATER_THAN_EQUALS",
              "LESS_THAN",
              "LESS_THAN_EQUALS"
            ]
          },
          "variable": {
            "type": "string",
            "description": "Variable",
            "enum": [
              "COUNTRY_CODE",
              "INSTITUTION_ID",
              "PAYMENT_METHOD_TYPE",
              "PRODUCTS",
              "OPTIONAL_PRODUCTS",
              "REGIONS",
              "SOURCE_AMOUNT",
              "SOURCE_AMOUNT_CONVERTED",
              "SERVICE_PROVIDERS",
              "SERVICE_PROVIDER_PRODUCTS",
              "SERVICE_PROVIDER_PRODUCT_HEALTH",
              "SERVICE_PROVIDER_OAUTH"
            ]
          }
        },
        "required": [
          "operator",
          "variable"
        ]
      },
      "RoutingDefinition": {
        "type": "object",
        "properties": {
          "defaultPreference": {
            "description": "Default service provider preference to use if no rules match",
            "oneOf": [
              {
                "$ref": "#/components/schemas/ListServiceProviderPreference"
              },
              {
                "$ref": "#/components/schemas/OptionalListServiceProviderPreference"
              },
              {
                "$ref": "#/components/schemas/SingleServiceProviderPreference"
              },
              {
                "$ref": "#/components/schemas/WeightedServiceProviderPreference"
              }
            ]
          },
          "rules": {
            "type": "array",
            "description": "Ordered list of rules. The first matching rule will route using its service provider preference",
            "items": {
              "$ref": "#/components/schemas/Rule"
            }
          },
          "useSmartRouting": {
            "type": "boolean",
            "description": "Whether to use smart routing in addition to any other rules"
          }
        },
        "required": [
          "defaultPreference"
        ]
      },
      "RoutingProfileCreateRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "BANK_LINKING_CONNECT",
              "CRYPTO_ONRAMP",
              "PAYMENT_CREATE_CHARGE"
            ]
          },
          "actionDefault": {
            "type": "boolean"
          },
          "definition": {
            "$ref": "#/components/schemas/RoutingDefinition"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "action",
          "definition"
        ]
      },
      "Rule": {
        "type": "object",
        "properties": {
          "conditions": {
            "type": "array",
            "description": "If all the conditions are true, this rule is true",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/MultipleValueRoutingCondition"
                },
                {
                  "$ref": "#/components/schemas/SingleValueRoutingCondition"
                }
              ]
            }
          },
          "label": {
            "type": "string",
            "description": "A label summarizing what this rule does"
          },
          "preference": {
            "description": "Service provider preference to use when this rule is true",
            "oneOf": [
              {
                "$ref": "#/components/schemas/ListServiceProviderPreference"
              },
              {
                "$ref": "#/components/schemas/OptionalListServiceProviderPreference"
              },
              {
                "$ref": "#/components/schemas/SingleServiceProviderPreference"
              },
              {
                "$ref": "#/components/schemas/WeightedServiceProviderPreference"
              }
            ]
          }
        },
        "required": [
          "preference"
        ]
      },
      "ServiceProviderPreference": {
        "type": "object",
        "description": "This is polymorphic based on the algorithm:<ul><li>EQUAL_DISTRIBUTION - ListServiceProviderPreference</li><li>ORDERED - ListServiceProviderPreference</li><li>SINGLE - SingleServiceProviderPreference</li><li>WEIGHTED_DISTRIBUTION - WeightedServiceProviderPreference</li><li>HEALTH - OptionalListServiceProviderPreference</li><li>PREFER_OAUTH - OptionalListServiceProviderPreference</li></ul>",
        "discriminator": {
          "propertyName": "algorithm"
        },
        "properties": {
          "algorithm": {
            "type": "string",
            "description": "Algorithm to select a preferred service provider",
            "enum": [
              "SINGLE",
              "ORDERED",
              "EQUAL_DISTRIBUTION",
              "WEIGHTED_DISTRIBUTION",
              "HEALTH",
              "OPTIONAL_PRODUCT_COVERAGE",
              "PREFER_OAUTH"
            ]
          }
        },
        "required": [
          "algorithm"
        ]
      },
      "SingleServiceProviderPreference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderPreference"
          },
          {
            "type": "object",
            "properties": {
              "serviceProvider": {
                "type": "string",
                "description": "Service provider",
                "enum": [
                  "AEROPAY",
                  "AKOYA",
                  "ALCHEMYPAY",
                  "APPLEPAY",
                  "AUTHORIZENET",
                  "BANXA",
                  "BILIRA",
                  "BINANCECONNECT",
                  "BINANCEPAY",
                  "BLOCKCHAINDOTCOM",
                  "BOOMFI",
                  "BRAINTREE",
                  "BRALE",
                  "BTCDIRECT",
                  "CASHAPP",
                  "CHECKOUT",
                  "CIRCLE",
                  "COINBASEPAY",
                  "COINFLOW",
                  "DUENETWORK",
                  "ELDORADO",
                  "FINICITY",
                  "FONBNK",
                  "GUARDARIAN",
                  "HARBOUR",
                  "KOYWE",
                  "KRYPTONIM",
                  "MERCURYO",
                  "MESH",
                  "MESO",
                  "MOONPAY",
                  "MOOV",
                  "MX",
                  "NMI",
                  "NOAH",
                  "ONMETA",
                  "ONRAMPMONEY",
                  "PAYBIS",
                  "PAYPAL",
                  "PLAID",
                  "RAMP",
                  "REVOLUT",
                  "ROBINHOOD",
                  "ROUTERPROTOCOL",
                  "SALTEDGE",
                  "SALTEDGEPARTNERS",
                  "SARDINE",
                  "SHIFT4",
                  "SHOPIFY",
                  "SIMPLEX",
                  "SKRILLCRYPTO",
                  "SQUARE",
                  "STRIPE",
                  "SUMSUB",
                  "SWAPPED",
                  "TANGOCARD",
                  "TELLER",
                  "TOPPER",
                  "TRANSAK",
                  "TREMENDOUS",
                  "TRANSFI",
                  "UNLIMIT",
                  "WYRE",
                  "XANPOOL",
                  "YELLOWCARD",
                  "YODLEE"
                ]
              }
            }
          }
        ],
        "description": "Preference when algorithm is: SINGLE",
        "required": [
          "algorithm",
          "serviceProvider"
        ]
      },
      "SingleValueRoutingCondition": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RoutingCondition"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "description": "Value",
                "minLength": 1
              }
            }
          }
        ],
        "description": "Condition when operator is: CONTAINS,GREATER_THAN,GREATER_THAN_EQUALS,LESS_THAN,LESS_THAN_EQUALS,NOT_CONTAINS",
        "required": [
          "operator",
          "value",
          "variable"
        ]
      },
      "WeightedServiceProviderPreference": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ServiceProviderPreference"
          },
          {
            "type": "object",
            "properties": {
              "serviceProviders": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer",
                  "format": "int32"
                },
                "description": "Map of service providers to weights",
                "minProperties": 1
              }
            }
          }
        ],
        "description": "Preference when algorithm is: WEIGHTED_DISTRIBUTION",
        "required": [
          "algorithm",
          "serviceProviders"
        ]
      },
      "RoutingProfile": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Account id"
          },
          "action": {
            "type": "string",
            "description": "Action this profile can route",
            "enum": [
              "BANK_LINKING_CONNECT",
              "PAYMENT_CREATE_CHARGE"
            ]
          },
          "actionDefault": {
            "type": "boolean",
            "description": "Whether or not this is the default profile for the action on this account"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time created"
          },
          "definition": {
            "$ref": "#/components/schemas/RoutingDefinition",
            "description": "Routing definition"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time deleted"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for this profile"
          },
          "name": {
            "type": "string",
            "description": "Name to describe this profile"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time last updated"
          }
        }
      },
      "RoutingRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "description": "The action that needs routing.",
            "enum": [
              "BANK_LINKING_CONNECT",
              "CRYPTO_ONRAMP",
              "PAYMENT_CREATE_CHARGE"
            ]
          },
          "signals": {
            "$ref": "#/components/schemas/Signals",
            "description": "Signals available at time of request to determine availability and score of routes."
          }
        },
        "required": [
          "action",
          "signals"
        ]
      },
      "Signals": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Country code"
          },
          "exchangeRates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Exchange rates from currencyCode"
          },
          "institutionId": {
            "type": "string",
            "description": "Institution id"
          },
          "optionalProducts": {
            "type": "array",
            "description": "Optional Products",
            "items": {
              "type": "string"
            }
          },
          "paymentMethodType": {
            "type": "string",
            "description": "Payment method type"
          },
          "products": {
            "type": "array",
            "description": "Products",
            "items": {
              "type": "string"
            }
          },
          "profileId": {
            "type": "string",
            "description": "Profile id"
          },
          "regions": {
            "type": "array",
            "description": "Regions",
            "items": {
              "type": "string"
            }
          },
          "serviceProviderOauth": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "Service provider oauth"
          },
          "serviceProviderProductHealth": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "description": "Service provider product health"
          },
          "serviceProviderProducts": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            },
            "description": "Service provider products"
          },
          "serviceProviders": {
            "type": "array",
            "description": "Service providers",
            "items": {
              "type": "string",
              "enum": [
                "ALCHEMYPAY",
                "BANXA",
                "BILIRA",
                "BINANCECONNECT",
                "BINANCEPAY",
                "BLOCKCHAINDOTCOM",
                "BOOMFI",
                "BTCDIRECT",
                "COINBASEPAY",
                "FONBNK",
                "GUARDARIAN",
                "KRYPTONIM",
                "KOYWE",
                "MESH",
                "MERCURYO",
                "MESO",
                "ONMETA",
                "ONRAMPMONEY",
                "PAYBIS",
                "PAYPAL",
                "RAMP",
                "REVOLUT",
                "ROBINHOOD",
                "SARDINE",
                "SHIFT4",
                "SIMPLEX",
                "SKRILLCRYPTO",
                "STRIPE",
                "SWAPPED",
                "TOPPER",
                "TRANSAK",
                "TRANSFI",
                "UNLIMIT",
                "YELLOWCARD"
              ]
            }
          },
          "sourceAmount": {
            "type": "number",
            "description": "Source amount"
          },
          "sourceCurrencyCode": {
            "type": "string",
            "description": "Source currency code"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "displayMessage": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {}
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Route": {
        "type": "object",
        "properties": {
          "Service provider access profile": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "description": "Score used for ranking"
          },
          "serviceProvider": {
            "type": "string",
            "description": "Service provider",
            "enum": [
              "ALCHEMYPAY",
              "BANXA",
              "BILIRA",
              "BINANCECONNECT",
              "BINANCEPAY",
              "BLOCKCHAINDOTCOM",
              "BOOMFI",
              "BTCDIRECT",
              "COINBASEPAY",
              "FONBNK",
              "GUARDARIAN",
              "KRYPTONIM",
              "KOYWE",
              "MESH",
              "MERCURYO",
              "MESO",
              "ONMETA",
              "ONRAMPMONEY",
              "PAYBIS",
              "PAYPAL",
              "RAMP",
              "REVOLUT",
              "ROBINHOOD",
              "SARDINE",
              "SHIFT4",
              "SIMPLEX",
              "SKRILLCRYPTO",
              "STRIPE",
              "SWAPPED",
              "TOPPER",
              "TRANSAK",
              "TRANSFI",
              "UNLIMIT",
              "YELLOWCARD"
            ]
          },
          "signals": {
            "$ref": "#/components/schemas/Signals",
            "description": "Signals used to determine availability and score"
          }
        }
      },
      "RoutingProfileUpdateRequest": {
        "type": "object",
        "properties": {
          "actionDefault": {
            "type": "boolean"
          },
          "definition": {
            "$ref": "#/components/schemas/RoutingDefinition"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ServiceProvider20231122": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "description": "The categories which this Service Provider supports.",
            "items": {
              "type": "string"
            }
          },
          "categoryStatuses": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "The statuses for each of the categories for this Service Provider."
          },
          "customerSupportUrl": {
            "type": "string",
            "description": "The customer support url for the provider."
          },
          "logos": {
            "$ref": "#/components/schemas/ServiceProvider20231122Logos",
            "description": "The logo URLs for the Service Provider."
          },
          "name": {
            "type": "string",
            "description": "The display name for the Service Provider."
          },
          "serviceProvider": {
            "type": "string",
            "description": "The identifier for the Service Provider."
          },
          "status": {
            "type": "string",
            "description": "The status of the Service Provider integration in this environment."
          },
          "websiteUrl": {
            "type": "string",
            "description": "The URL for the Service Provider's website."
          }
        }
      },
      "ServiceProvider20231122Logos": {
        "type": "object",
        "description": "Service Provider logo details.",
        "properties": {
          "dark": {
            "type": "string",
            "description": "The dark logo URL for the Service Provider."
          },
          "darkShort": {
            "type": "string",
            "description": "The dark short logo URL for the Service Provider."
          },
          "light": {
            "type": "string",
            "description": "The light logo URL for the Service Provider."
          },
          "lightShort": {
            "type": "string",
            "description": "The light short logo URL for the Service Provider."
          }
        }
      },
      "EnvironmentSettings20231122": {
        "type": "object",
        "description": "Environment settings.",
        "properties": {
          "environmentSettings": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {}
            },
            "description": "The settings for each supported environment."
          },
          "serviceProvider": {
            "type": "string",
            "description": "The service provider for the Environment Settings."
          }
        }
      },
      "ConfigSettings20231122": {
        "type": "object",
        "description": "Config settings.",
        "properties": {
          "fields": {
            "type": "array",
            "description": "The fields supported for this service provider's Config Settings.",
            "items": {
              "$ref": "#/components/schemas/ConfigSettings20231122Field"
            }
          },
          "serviceProvider": {
            "type": "string",
            "description": "The service provider for the Config Settings."
          }
        }
      },
      "ConfigSettings20231122Field": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of this Field."
          },
          "required": {
            "type": "boolean",
            "description": "True if this Field is required when configuring this service provider, otherwise false."
          },
          "type": {
            "type": "string",
            "description": "The data type of this Field."
          }
        }
      },
      "AuthSettings20231122": {
        "type": "object",
        "description": "Auth settings.",
        "properties": {
          "fields": {
            "type": "array",
            "description": "The fields supported for this service provider's Auth Settings.",
            "items": {
              "$ref": "#/components/schemas/AuthSettings20231122Field"
            }
          },
          "serviceProvider": {
            "type": "string",
            "description": "The service provider for the Auth Settings."
          }
        }
      },
      "AuthSettings20231122Field": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of this Field."
          },
          "required": {
            "type": "boolean",
            "description": "True if this Field is required when configuring this service provider, otherwise false."
          },
          "type": {
            "type": "string",
            "description": "The data type of this Field."
          }
        }
      },
      "PaymentMethod20231122": {
        "type": "object",
        "description": "Payment Method details.",
        "properties": {
          "logos": {
            "$ref": "#/components/schemas/PaymentMethod20231122Logos",
            "description": "The logo URLs for the Payment Method."
          },
          "name": {
            "type": "string",
            "description": "The display name for the Payment Method."
          },
          "paymentMethod": {
            "type": "string",
            "description": "The identifier for the Payment Method."
          },
          "paymentType": {
            "type": "string",
            "description": "The type of Payment Method."
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PaymentMethod20231122ServiceProviderDetails"
            },
            "description": "The service provider coverage and mappings. All service providers in this map support the property (coverage). Service provider mappings are included in the values of the map, if required. Only present when includeServiceProviderDetails request parameter is set to true."
          }
        }
      },
      "PaymentMethod20231122Logos": {
        "type": "object",
        "description": "Payment Method logo details.",
        "properties": {
          "dark": {
            "type": "string",
            "description": "The dark logo URL for the Payment Method."
          },
          "light": {
            "type": "string",
            "description": "The light logo URL for the Payment Method."
          }
        }
      },
      "PaymentMethod20231122ServiceProviderDetails": {
        "type": "object",
        "description": "Payment method service provider details.",
        "properties": {
          "paymentMethod": {
            "type": "string",
            "description": "The service provider's Payment Method identifier."
          }
        }
      },
      "FiatCurrency20231122": {
        "type": "object",
        "description": "Fiat Currency details.",
        "properties": {
          "currencyCode": {
            "type": "string",
            "description": "The code for this Fiat Currency."
          },
          "name": {
            "type": "string",
            "description": "The display name for this Fiat Currency."
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FiatCurrency20231122ServiceProviderDetails"
            },
            "description": "The service provider coverage and mappings. All service providers in this map support the property (coverage). Service provider mappings are included in the values of the map, if required. Only present when includeServiceProviderDetails request parameter is set to true."
          },
          "symbolImageUrl": {
            "type": "string",
            "description": "The URL to this Fiat Currency's symbol image."
          }
        }
      },
      "FiatCurrency20231122ServiceProviderDetails": {
        "type": "object",
        "description": "Fiat currency service provider details.",
        "properties": {
          "currencyCode": {
            "type": "string",
            "description": "The service provider's currency code. If null, no mapping is required for this service provider."
          }
        }
      },
      "DefaultsPerCountry": {
        "type": "object",
        "description": "Defaults Per Country.",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Two-letter code (ISO 3166-1 alpha-2) for the Country."
          },
          "defaultCurrencyCode": {
            "type": "string",
            "description": "The code for this Fiat Currency."
          },
          "defaultPaymentMethods": {
            "type": "array",
            "description": "The identifier for the Payment Method",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CryptoCurrency20231122": {
        "type": "object",
        "description": "Crypto Currency details.",
        "properties": {
          "chainCode": {
            "type": "string",
            "description": "The code for the chain the Crypto Currency is on."
          },
          "chainId": {
            "type": "string",
            "description": "The id for the chain the Crypto Currency is on."
          },
          "chainName": {
            "type": "string",
            "description": "The display name for the chain the Crypto Currency is on."
          },
          "contractAddress": {
            "type": "string",
            "description": "The contract address of the Crypto Currency."
          },
          "currencyCode": {
            "type": "string",
            "description": "The code for the Crypto Currency."
          },
          "name": {
            "type": "string",
            "description": "The display name for the Crypto Currency."
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CryptoCurrency20231122ServiceProviderDetails"
            },
            "description": "The service provider coverage and mappings. All service providers in this map support the property (coverage). Service provider mappings are included in the values of the map, if required. Only present when includeServiceProviderDetails request parameter is set to true."
          },
          "symbolImageUrl": {
            "type": "string",
            "description": "The URL to the Crypto Currency's symbol image."
          }
        }
      },
      "CryptoCurrency20231122ServiceProviderDetails": {
        "type": "object",
        "description": "Crypto currency service provider details.",
        "properties": {
          "chainCode": {
            "type": "string",
            "description": "The service provider's chain code."
          },
          "currencyCode": {
            "type": "string",
            "description": "The service provider's currency code."
          }
        }
      },
      "PropertyCount20231122": {
        "type": "object",
        "description": "Property count details.",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32",
            "description": "The number of distinct values for this property."
          }
        }
      },
      "Country20231122": {
        "type": "object",
        "description": "Country details.",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Two-letter code (ISO 3166-1 alpha-2) for the Country."
          },
          "flagImageUrl": {
            "type": "string",
            "description": "The URL to the Country's flag image."
          },
          "name": {
            "type": "string",
            "description": "The display name for the Country."
          },
          "regions": {
            "type": "array",
            "description": "The set of supported regions within the Country. If null, then all regions withing the Country are supported",
            "items": {
              "$ref": "#/components/schemas/Country20231122Region"
            }
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Country20231122ServiceProviderDetails"
            },
            "description": "The service provider coverage and mappings. All service providers in this map support the property (coverage). Service provider mappings are included in the values of the map, if required. Only present when includeServiceProviderDetails request parameter is set to true."
          }
        }
      },
      "Country20231122Region": {
        "type": "object",
        "description": "Country region details.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The display name for the Region."
          },
          "regionCode": {
            "type": "string",
            "description": "The alphanumeric code (ISO 3166-2) for the Region"
          }
        }
      },
      "Country20231122ServiceProviderDetails": {
        "type": "object",
        "description": "Country service provider details.",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "The service provider's country code. If null, no mapping is required for this service provider."
          }
        }
      },
      "KycFiatLevel20231122": {
        "type": "object",
        "description": "KYC Fiat Level limits.",
        "properties": {
          "accountDetails": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/KycFiatLevel20231122LimitDetails"
            },
            "description": "The account service provider limit overrides. Only present when includeDetails request parameter is set to true."
          },
          "currencyCode": {
            "type": "string",
            "description": "The currency code for these KYC Fiat Level limits."
          },
          "level1": {
            "$ref": "#/components/schemas/Level",
            "description": "KYC Level 1 limits, level 1 means no document upload is required. Typical information asked for in level 1 include phone number, email address, and SSN (or international equivalent)"
          },
          "level2": {
            "$ref": "#/components/schemas/Level",
            "description": "KYC Level 2 limits, level 2 means document upload is required. Typical information asked for in level 2 include passport and drivers license (or international equivalent)."
          },
          "level3": {
            "$ref": "#/components/schemas/Level",
            "description": "KYC Level 3 limits, level 3 means proof of funds is required. This is for very large purposes, and may involve connecting a user's bank account to show proof of funds."
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/KycFiatLevel20231122LimitDetails"
            },
            "description": "The service provider limits. Only present when includeDetails request parameter is set to true."
          }
        }
      },
      "KycFiatLevel20231122LimitDetails": {
        "type": "object",
        "description": "KYC Fiat Level limit details.",
        "properties": {
          "level1": {
            "$ref": "#/components/schemas/Level",
            "description": "The level 1 values."
          },
          "level2": {
            "$ref": "#/components/schemas/Level",
            "description": "The level 2 values."
          },
          "level3": {
            "$ref": "#/components/schemas/Level",
            "description": "The level 3 values."
          }
        }
      },
      "Level": {
        "type": "object",
        "properties": {
          "daily": {
            "type": "number",
            "description": "The daily limit."
          },
          "monthly": {
            "type": "number",
            "description": "The monthly limit."
          },
          "transaction": {
            "type": "number",
            "description": "The single transaction limit."
          },
          "weekly": {
            "type": "number",
            "description": "The weekly limit."
          },
          "yearly": {
            "type": "number",
            "description": "The yearly limit."
          }
        }
      },
      "FiatCurrencyPurchaseLimit20231122": {
        "type": "object",
        "description": "Fiat Currency Purchase limits.",
        "properties": {
          "accountDetails": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FiatCurrencyPurchaseLimit20231122LimitDetails"
            },
            "description": "The account service provider limit overrides. Only present when includeDetails request parameter is set to true."
          },
          "currencyCode": {
            "type": "string",
            "description": "The currency code for these Fiat Currency Purchase limits."
          },
          "defaultAmount": {
            "type": "number",
            "description": "The default purchase amount."
          },
          "maximumAmount": {
            "type": "number",
            "description": "The maximum purchase amount."
          },
          "meldDetails": {
            "$ref": "#/components/schemas/FiatCurrencyPurchaseLimit20231122LimitDetails",
            "description": "The Meld limits. Only present when includeDetails request parameter is set to true."
          },
          "minimumAmount": {
            "type": "number",
            "description": "The minimum purchase amount."
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FiatCurrencyPurchaseLimit20231122LimitDetails"
            },
            "description": "The service provider limits. Only present when includeDetails request parameter is set to true."
          }
        }
      },
      "FiatCurrencyPurchaseLimit20231122LimitDetails": {
        "type": "object",
        "description": "Fiat Currency Purchase limit details.",
        "properties": {
          "defaultAmount": {
            "type": "number",
            "description": "The default purchase amount."
          },
          "maximumAmount": {
            "type": "number",
            "description": "The maximum purchase amount."
          },
          "minimumAmount": {
            "type": "number",
            "description": "The minimum purchase amount."
          }
        }
      },
      "CryptoCurrencySellLimit": {
        "type": "object",
        "description": "Crypto Currency Sell limits.",
        "properties": {
          "accountDetails": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CryptoCurrencySellLimit20241212LimitDetails"
            },
            "description": "The account service provider limit overrides. Only present when includeDetails request parameter is set to true."
          },
          "chainCode": {
            "type": "string",
            "description": "The chain code for these Crypto Currency Sell limits."
          },
          "currencyCode": {
            "type": "string",
            "description": "The currency code for these Crypto Currency Sell limits."
          },
          "defaultAmount": {
            "type": "number",
            "description": "The default sell amount."
          },
          "maximumAmount": {
            "type": "number",
            "description": "The maximum sell amount."
          },
          "meldDetails": {
            "$ref": "#/components/schemas/CryptoCurrencySellLimit20241212LimitDetails",
            "description": "The Meld limits. Only present when includeDetails request parameter is set to true."
          },
          "minimumAmount": {
            "type": "number",
            "description": "The minimum sell amount."
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CryptoCurrencySellLimit20241212LimitDetails"
            },
            "description": "The service provider limits. Only present when includeDetails request parameter is set to true."
          }
        }
      },
      "CryptoCurrencySellLimit20241212LimitDetails": {
        "type": "object",
        "description": "Crypto Currency Sell limit details.",
        "properties": {
          "defaultAmount": {
            "type": "number",
            "description": "The default sell amount."
          },
          "maximumAmount": {
            "type": "number",
            "description": "The maximum sell amount."
          },
          "minimumAmount": {
            "type": "number",
            "description": "The minimum sell amount."
          }
        }
      },
      "DiscreteValue": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name."
          },
          "value": {
            "type": "string",
            "description": "Value"
          }
        }
      },
      "RoutingVariableResponse": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Display name."
          },
          "operators": {
            "type": "array",
            "description": "List of valid operators which can be used with this variable.",
            "items": {
              "type": "string",
              "enum": [
                "IN",
                "NOT_IN",
                "CONTAINS",
                "NOT_CONTAINS",
                "CONTAINS_ALL",
                "CONTAINS_ANY",
                "CONTAINS_NONE",
                "GREATER_THAN",
                "GREATER_THAN_EQUALS",
                "LESS_THAN",
                "LESS_THAN_EQUALS"
              ]
            }
          },
          "values": {
            "type": "array",
            "description": "Discrete values for variables which support it",
            "items": {
              "$ref": "#/components/schemas/DiscreteValue"
            }
          },
          "variable": {
            "type": "string",
            "description": "Variable id.",
            "enum": [
              "COUNTRY_CODE",
              "INSTITUTION_ID",
              "PAYMENT_METHOD_TYPE",
              "PRODUCTS",
              "OPTIONAL_PRODUCTS",
              "REGIONS",
              "SOURCE_AMOUNT",
              "SOURCE_AMOUNT_CONVERTED",
              "SERVICE_PROVIDERS",
              "SERVICE_PROVIDER_PRODUCTS",
              "SERVICE_PROVIDER_PRODUCT_HEALTH",
              "SERVICE_PROVIDER_OAUTH"
            ]
          }
        }
      },
      "PaymentMethod20240427": {
        "type": "object",
        "description": "Payment Method details.",
        "properties": {
          "logos": {
            "$ref": "#/components/schemas/PaymentMethod20240427Logos",
            "description": "The logo URLs for the Payment Method."
          },
          "name": {
            "type": "string",
            "description": "The display name for the Payment Method."
          },
          "paymentMethod": {
            "type": "string",
            "description": "The identifier for the Payment Method."
          },
          "paymentType": {
            "type": "string",
            "description": "The type of Payment Method.",
            "enum": [
              "ACH",
              "BANK_TRANSFER",
              "CARD",
              "LOCAL",
              "MOBILE_WALLET",
              "SEPA"
            ]
          },
          "serviceProviderDetails": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/PaymentMethod20240427ServiceProviderDetails"
            },
            "description": "The service provider coverage and mappings. All service providers in this map support the property (coverage). Service provider mappings are included in the values of the map, if required. Only present when includeServiceProviderDetails request parameter is set to true."
          }
        }
      },
      "PaymentMethod20240427Logos": {
        "type": "object",
        "description": "Payment Method logo details.",
        "properties": {
          "dark": {
            "type": "string",
            "description": "The dark logo URL for the Payment Method."
          },
          "light": {
            "type": "string",
            "description": "The light logo URL for the Payment Method."
          }
        }
      },
      "PaymentMethod20240427ServiceProviderDetails": {
        "type": "object",
        "description": "Payment method service provider details.",
        "properties": {
          "paymentMethods": {
            "type": "array",
            "description": "The service provider's Payment Method identifiers.",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-default": "BASIC <Meld API Key>"
      },
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "tags": [
    {
      "name": "Service Provider"
    }
  ],
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": false,
    "samples-enabled": true,
    "headers": [
      {
        "key": "Meld-Version",
        "value": "2026-02-03"
      }
    ]
  }
}